html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	background:#ffffff;
	width:100%;
	margin:0px;
	padding:0px;
	font-family: 'nexa_boldregular';
	color: #727272;
}
html {
	padding:0px !important;
	margin:0px !important;
}
.clr {
	clear:both;
}
* {
	padding:0;
	margin:0;
}
.flt {
	float:left !important;
}
.flr {
	float:right !important;
	margin:0px !important;
}
#main_wrapper {
	width:100%;
	margin:0 auto;
	height:100%;
}
#work_container {
	width:900px;
	margin:0 auto;
}

.print_pade_div
{
  width:100%;
  float:left;
  /*background:url("../images/logo_icon.png") no-repeat scroll 83% 0 rgba(0, 0, 0, 0);*/
}

.header_main {
    float: left;
    margin: 20px 0 0;
    width: 100%;
}

.logo {
    float: left;
}

.logo img {
    float: left;
    width: 100%;
}

.header_main h2
{
  float:left;
  width:100%;
  font-family: 'nexa_boldregular';
  font-size:32px;
  font-weight:bold;
  color:#000;
  margin: 20px 0;
}

.middle_mail
{
  float:left;
  width:100%;
  margin: 10px 0 0;
}

.mail_left_con
{
  float:left;
  width:430px;
}

.coupon_title
{
  width:100%;
  float:left;
}

.coupon_title h2
{
  float:left;
  width:100%;
  font-family: 'nexa_boldregular';
  font-size:36px;
  color:#92A23F;
  font-weight:bold;
}

.coupon_title h4
{
  float:left;
  width:100%;
  font-family: 'nexa_boldregular';
  font-size:28px;
  color:#000;
  font-weight:bold;
}

.fine_print
{
  width:100%;
  float:left;
  margin:15px 0 0 0;
}

.fine_print h3
{
  width:100%;
  float:left;
  color:#92A23F;
  font-size:30px;
  margin: 0 0 5px;
}

.fine_print p
{
  width:100%;
  float:left;
  color:#000;
  font-size:16px;
  line-height: 22px;
  margin: 0 0 15px;
}

.how_mail_work
{
  float:left;
  width:100%;
  margin:0 0 0 0;
}

.how_mail_work h3
{
  width:100%;
  float:left;
  font-size:30px;
  color:#92A23F;
  margin: 0 0 10px;
}

.how_mail_work ul
{
  margin:0;
  padding:0;
}

.how_mail_work ul li
{
  width:100%;
  float:left;
  font-size:20px;
  color:#000;
  list-style: none outside none;
  margin: 10px 0;
}

.how_mail_work ul li .numbering {
    background: none repeat scroll 0 0 #92A23F;
    border-radius: 3px;
    float: left;
    margin: 0 10px 0 0;
    padding: 2px 3px;
    width: 22px;
}

.how_mail_work ul li .numbering p
{
  width:100%;
  float:left;
  text-align:right;
  color:#FFF;
  font-size:18px;
  font-weight: bold;
}

/*.mail_arrow {
    left: 570px;
    margin: 7px 0 0 -12px;
    position: absolute;
}*/

.mail_arrow {
    float: left;
    margin: -165px 0 0 390px;
    position: relative;
    z-index: 99999;
}
.mail_arrow img
{
  width:200px;
  float:left;
}

.problem_here
{
  width:100%;
  float:left;
  margin: 25px 0 20px 0;
}

.problem_here h3
{
  float:left;
  width:100%;
  font-size:20px;
  color:#92A23F;
  margin: 0 0 10px;
}

.problem_here p
{
  width:100%;
  float:left;
  color:#000;
  font-size:20px;
}

.problem_here p span
{
  float:left;
  font-size:24px;
  margin:0 10px 0 0;
}

.mail_right_con
{
  float:left;
  width:440px;
}

/*.barcode_con
{
  width:300px;
  position:absolute;
  background:#92A23F;
  padding:15px 25px 25px 15px;
  right: 310px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  -khtml-border-radius:25px;
  z-index: 999;
  top: 235px;
}*/

.barcode_con {
    /*background-image: url("../images/GRREEN_BG.png");*/
    background-repeat: no-repeat;
    border-radius: 25px 25px 25px 25px;
    float: right;
    margin: 30px 39px 0 0;
    padding: 15px 25px 25px 15px;
    position: relative;
    width: 300px;
    z-index: 999;
}

.barcode_con_inner
{
  background:#fff;
 padding: 15px 15px 0;
  float:left;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  -khtml-border-radius:25px;
}


.barcode_con_inner h2
{
  float:left;
  width:100%;
  font-size:24px;
  color:#000;
  font-weight:bold;
  margin:5px 0;
}


.barcode_con_inner img {
    float: left;
    margin: 0 0 10px !important;
    position: inherit !important;
}

.barcode_con_inner p
{
  width:100%;
  float:left;
  font-size:24px;
  color:#000;
  font-weight:bold;
  margin: 10px 0;
}

.barcode_con_inner p span {
    color: #92A23F;
    float: right;
    font-size: 22px;
    width: 100%;
}

/*.redeem_box {
    background: none repeat scroll 0 0 #000000;
    padding: 55px 25px 25px 15px;
    position: absolute;
    right: 240px;
    top: 500px;
    width: 300px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    -khtml-border-radius:25px;
}*/


.redeem_box {
    background-repeat: no-repeat;
    border-radius: 25px;
    float: left;
    margin: -55px 0 0 370px;
    padding: 55px 25px 25px 15px;
    position: relative;
    right: 240px;
    width: 300px;
    z-index: 99;
}

.redeem_box img {
    background: none repeat scroll 0 0 #000000;
    display: block !important;
    height: 324px;
    margin: -110px 9px 0 0;
    position: absolute;
    right: -10px;
    width: 340px;
}

.redeem_box_inner {
    border-radius: 25px 25px 25px 25px;
    float: left;
    margin: 0 0 0 30px;
    padding: 0;
    position: relative;
    z-index: 9999;
    color:#fff;
    z-index: 9999;
}

.redeem_box h3 {
    color: #92A23F;
    float: left;
    font-size: 30px;
    margin: 0 0 10px;
    width: 100%;
}

.redeem_box .redeem_box_inner p {
    color: #FFF;
    float: left;
    font-size: 20px;
    margin: 4px 0;
    position: relative;
    width: 100%;
   z-index: 2147483647;
}

.legal_stuff
{
  float:left;
  width:100%;
  margin:20px 0;
}

.legal_stuff h3
{
  color:#92A23F;
  float:left;
  width:100%;
  font-size:22px;
}

.legal_stuff p
{
  color:#000;
  float:left;
  width:100%;
  font-size:16px
}

.print_pade_div .mail_left_con .coupon_title p
{
    color: #000000;
    float: left;
    font-size: 16px;
    margin: 7px 0 0;
}

.barcode_con img
{
    margin: -15px 0 0 -317px;
    position: absolute;
    z-index: -1;
    right: 0;
}

.bg_image {
    position: absolute;
    left: 60%;
    top: 10px;
}



