
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
 background : transparent;
 border : none 0;
 font-size : 100%;
 margin : 0;
 padding : 0;
 border : 0;
 outline : 0;
 vertical-align : top;
}

ol, ul { list-style : none; }

blockquote, q { quotes : none; }

table, table td {
 padding : 0;
 border : none;
 border-collapse : collapse;
}

img { vertical-align : top; }

embed { vertical-align : top; }

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video { display : block; }

mark, rp, rt, ruby, summary, time { display : inline; }

input, textarea {
 border : 0;
 padding : 0;
 margin : 0;
 outline : 0;
}

iframe {
 border : 0;
 margin : 0;
 padding : 0;
}

input, textarea, select {
 margin : 0;
 padding : 0;
}

html, body {
 width : 100%;
 height : 100%;
 padding : 0;
 margin : 0;
}

body {
 background:#fff;
 font : 15px;
 line-height:20px;
 color : #727272;
font-family: 'Roboto', sans-serif !important;
}

.wrapper_main {
 width :1000px;
 margin : 0 auto;
}

p {
 float:left;
 font-family: 'Roboto', sans-serif !important;
 color:#727272;
 font-size:14px;
 line-height:20px;
 padding:10px 0;
}

.ic {
 border : 0;
 float : right;
 background : #fff;
 color : #f00;
 width : 50%;
 line-height : 10px;
 font-size : 10px;
 margin : -220% 0 0 0;
 overflow : hidden;
 padding : 0;
}

a {
 text-decoration : none;
 cursor : pointer;
}

a:hover { text-decoration : none; }

.clear {
 clear : both;
 line-height : 0;
 font-size : 0;
 width : 100%;
}

h1, h2, h3, h4, h5, h6
{
	font-family:'Roboto',sans-serif !important;
}

.wrapper {
 width : 100%;
 overflow : hidden;
 position : relative;
}

.wrap {
 overflow : hidden;
 position : relative;
}

.extra-wrap { overflow : hidden; }

.fleft { float : left; }

.fright { float : right; }

.top_1 { margin-top : 32px; }

.top_2 { margin-top : 40px !important; }

.top_3 { margin :70px 0 40px !important; }

.left_1 { padding-left : 20px; }

.left_2 { margin-right : 20px; }

.bot_0 {
 padding-bottom : 0 !important;
 margin-bottom : 0 !important;
}

.pad_1 { padding : 0 20px 0 20px; }

.p_1 { padding:10px 0; }

.p_2 { padding-left : 30px; }

.p_3 { padding-left : 20px; }

.p_4 { padding-left : 10px; }

.p_5 { padding-top : 15px; }

.p_6 { padding-top : 5px; }

.flt { float : left !important; }

.flr { float : right !important; }

header {
 width : 100%;
 margin : 0px auto;
 z-index : 101;
 position : relative;
 z-index : 100;
}

#content { width : 100%; }

.logo {
 float : left;
 margin : 5px 0 0 0;
}

.logo a {
 float : left;
 display : block;
}

.login_div {
 float:right;
 margin-top:10px;
}

.loginbutton { float:left; }

.loginbutton a {
 display:block;
 float:left;
 /*background:url(../images/loginbutton.png) no-repeat;*/
	width:auto;
 height:auto;
 border:none;
 outline:none;
 padding:4px 20px;
 font-family: 'Roboto', sans-serif;
 color:#fff;
 font-size:20px;
 line-height:24px;
 text-align:center;
 background:#91A136;
}

.loginbutton a:hover {
 background:#73a82b;
 -webkit-transition: all 0.3s ease-in;
 -moz-transition: all 0.3s ease-in;
 -ms-transition: all 0.3s ease-in;
 -o-transition: all 0.3s ease-in;
 transition: all 0.3s ease-in;
}

.tagline {
 float:left;
 margin:5px 0 20px 80px;
 width:857px;
 display:none;
 height:46px;
}

.social_menu {
 float:right;
 margin:30px 0;
}

.social_menu ul {
 padding:0;
 margin:0;
 list-style:none;
}

.social_menu ul li {
 float:left;
 list-style:none;
}

.social_menu ul li a {
 display:block;
 float:left;
 padding:0 4px 0 0;
}

.social_menu ul li a.facebook {
 background:url(../images/facebook_new.png) no-repeat;
 width:46px;
 height:46px;
 float:left;
}

.social_menu ul li a.facebook:hover { background-position:0 98%; }

.social_menu ul li a.twitter {
 background:url(../images/twitter_new.png) no-repeat;
 width:46px;
 height:46px;
 float:left;
}

.social_menu ul li a.twitter:hover { background-position:0 98%; }

.social_menu ul li a.googleplus {
 background:url(../images/google+_new.png) no-repeat;
 width:46px;
 height:46px;
 float:left;
}

.social_menu ul li a.googleplus:hover { background-position:0 98%; }

.social_menu ul li a.linkedin {
 background:url(../images/linkedin_new.png) no-repeat;
 width:46px;
 height:46px;
 float:left;
}

.social_menu ul li a.linkedin:hover { background-position:0 98%; }

.social_menu ul li a.pinterest {
 background:url(../images/pinterest_new.png) no-repeat;
 width:46px;
 height:46px;
 float:left;
}

.social_menu ul li a.pinterest:hover { background-position:0 98%; }

.sliderdiv {
 float: left;
 margin: 0 0 0px;
}

.bottom_sliderdiv {
 background:#91A136;
 float: left;
 width:99.3%;
}

.bottom_sliderdiv p {
 float:left;
 width:100%;
 text-align:center;
 font-size:24px;
 color:#fff;
 line-height:40px;
}

.user_div {
 float:left;
 width:100%;
}

.top_div {
 float:left;
 width:100%;
}

.newsicon {
 float:left;
 background:url(../images/newsicon.png) no-repeat;
 width:132px;
 height:107px;
}

.usersignup {
 float:left;
 margin-top: 20px;
}

.usersignup p, .adver_signup p {
 color: #727272;
 float: left;
 font-family: 'Roboto', sans-serif;
 font-size: 30px;
 line-height: 20px;
 padding: 10px 0;
}

.usersignup a {
 background:url(../images/usersignup.png) no-repeat;
 width:199px;
 height:51px;
 float:left;
 display:block;
}

.usersignup a:hover { background-position:0 100%; }

.discriptiondiv {
 float:left;
 width:100%;
 margin:40px 0 20px 0;
 min-height: 99px;
}

.discriptiondiv p {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:15px;
 line-height:20px;
}

.discriptiondiv h3 {
 font-family: 'Roboto', sans-serif;
 color:#91A136;
 font-size:34px;
 line-height:20px;
}

.howitwork {
 float:left;
 width:100%;
}

.howitwork h3 {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#91A136;
 font-size:24px;
 width:100%;
 font-weight:normal;
 padding:0 0 20px 0;
}

.icon_discription {
 float:left;
 width:230px;
}

.icon_discription p {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 line-height:20px;
 padding:10px 0 0 0;
}

.seperator {
 float:left;
 background:url(../images/dashimage.png) repeat-y;
 width:5px;
 height:512px;
 margin:0px 60px;
}

.seperator_1 {
 float:left;
 background:url(../images/seperator.png) no-repeat;
 width:12px;
 height:447px;
 margin:120px 64px 0;
}

.bagicon {
 float:left;
 background:url(../images/bagicon.png) no-repeat;
 width:127px;
 height:107px;
}

.adver_signup {
 float:left;
 margin-top: 20px;
}

.adver_signup a {
 background:url(../images/advsignup.png) no-repeat;
 width:250px;
 height:51px;
 float:left;
 display:block;
}

.adver_signup a:hover { background-position:0 100%; }

.ouradvantage {
 float:left;
 width:100%;
}

.signup_green {
 background:#91A136;
 float: left;
 width:100%;
}

.signme_up {
 float:left;
 width:50%;
}

.signme_up a {
 display:block;
 float:left;
 font-size:30px;
 text-align:center;
 line-height:50px;
 color:#fff;
 width:100%;
}

.signme_up a:hover { color:#272121; }

.valueadvertiser {
 float:left;
 width:100%;
}

.ouradvantage h2, .valueadvertiser h2 {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#91A136;
 font-size:30px;
 width:100%;
 text-transform:'captialize';
 font-weight:normal;
 padding:0 0 20px 0;
 width:100%;
}

.advantage_div {
 float:left;
 width:270px;
 margin:10px 0 0 0;
}

.advantage_div h4 {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#212121;
 font-size:22px;
 width:100%;
 font-weight:normal;
 padding:0 0 10px 0;
 width:100%;
}

.advantage_div p {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:13px;
 line-height:20px;
 padding:0px 0 0 0;
}

.nonprofitlogo_div {
 float:left;
 width:100%;
 padding:15px 0;
}

.nonprofitlogo_div ul {
 padding:0;
 margin:0;
}

.nonprofitlogo_div ul li {
 list-style:none;
 float:left;
 padding:0 0px;
}

footer {
 float : left;
 height : auto;
 width : 100%;
}

.top_footer {
 background:#fff;
 border-top:4px solid #e5e4e4;
 border-bottom:4px solid #e5e4e4;
 float : left;
 width : 100%;
 padding:35px 0 20px 0;
}

.lower_footer {
 background:#91A136;
 float : left;
 width : 100%;
 padding:10px 0 0;
}

.footer_heading {
 float:left;
 width:100%;
}

.footer_heading h3 {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#7d7d7d;
 font-size:22px;
 padding:0px 0 15px 0;
 text-transform:uppercase;
 font-weight:normal;
}

.tweetdiv {
 float:left;
 width:100%;
}

.tweetdiv p {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#7d7d7d;
 font-size:13px;
 padding:0px 0 10px 0;
}

.tweetdiv p span { color:#91A136; }

.tweetdiv p a {
 text-decoration:none;
 color:#91A136;
}

.tweetdiv p a:hover { color:#0a5f26; }

#twitter_update_list ul {
 margin: 0;
 padding: 0;
}

#twitter_update_list li {
 background: url("../images/tweet.png") no-repeat scroll right top transparent;
 border-bottom: 1px dotted #8CC540;
 float: left;
 font-family: latoregular;
 font-size: 12px;
 margin: 0 0 10px;
 padding: 0 40px 5px 0;
 text-align: left;
}

#twitter_update_list li.border_none { border-bottom: medium none; }

.tweetdiv div big i {
 float:left;
 width:100%;
 font-family: 'Roboto', sans-serif;
 color:#7d7d7d;
 font-size:13px;
 padding:0px 0 10px 0;
}

.tweetdiv div big i a {
 text-decoration:none;
 color:#09F;
}

#twitter_update_list a { color: #91A136; }

.online_support {
 float:left;
 width:100%;
}

.online_support img {
 float: left;
 margin: 15px 0 10px 30px;
 width: 50%;
}

.online_number {
 float:left;
 width:100%;
 clear:both;
}

.online_number h4 {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#7d7d7d;
 font-size:22px;
 padding:0px 0 15px 0;
 font-weight:normal;
}

.online_number p {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#7d7d7d;
 font-size:13px;
 padding:0px 0 0px 0;
}

.online_number p a {
 text-decoration:none;
 color:#91A136;
}

.online_number p a:hover { color:#7d7d7d; }

.navigationdiv {
 float:left;
 width:100%;
}

.navigationdiv ul {
 padding:0;
 margin:0;
}

.navigationdiv ul li {
 list-style:none;
 font-family: 'Roboto', sans-serif;
 color:#7d7d7d;
 font-size:13px;
 line-height:30px;
 padding:0 0 0 4px;
}

.navigationdiv ul li a {
 display:block;
 text-decoration:none;
 color:#7d7d7d;
}

.navigationdiv ul li a:hover { color:#91A136; }

.newsletterdiv {
 float:left;
 width:100%;
}

.newsletterdiv p {
 font-family: 'Roboto', sans-serif;
 color:#7d7d7d;
 font-size:16px;
 padding:0 0 20px 0
}

.newsletter_inputdiv { float:left; }

.newsletter_inputdiv input {
 background:url(../images/inputback.png) no-repeat;
 width:241px;
 height:32px;
 padding:0 5px;
 font-family: 'Roboto', sans-serif;
 color:#7d7d7d;
 font-size:13px;
 border:none;
 outline:none;
 border:1px solid #fff;
}

.newsletter_inputdiv input { line-height: 32px\0/IE8+9; /* IE8+9  */ }

.newsletter_inputdiv input.subscribebutton {
     border:none;
     outline:none;
     cursor:pointer;
     margin:20px 10px 0 0px;
     display:block;
	float:left;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size:20px;
    line-height:24px;
    text-align:center;
	background:#91A136;
}
.newsletter_inputdiv input.subscribebutton:hover {
 	background:#73a82b;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}


/*.newsletter_inputdiv input.subscribebutton:hover { background-position:0 100%; }*/

/*******************************************************/


.newsletter_inputdiv span.error:after {
 -moz-border-bottom-colors: none;
 -moz-border-image: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: #91A136 transparent transparent;
 border-right: 5px solid transparent;
 border-style: solid;
 border-width: 5px;
 bottom: -10px;
 content: "";
 display: block;
 position: absolute;
 right: 10px;
}

.newsletter_inputdiv span.error {
 background-color: #91A136;
 border-radius: 4px 4px 4px 4px;
 color: #FFFFFF;
 font-size: 10px;
 line-height: 14px;
 margin: 0;
 padding: 4px 8px;
 position: absolute;
 right: 4px;
 top: 52px;
 z-index: 10;
}

form#contact span.error { display:none !important; }

#contact label.error:after {
 -moz-border-bottom-colors: none;
 -moz-border-image: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: #91A136 transparent transparent;
 border-right: 5px solid transparent;
 border-style: solid;
 border-width: 5px;
 bottom: -10px;
 content: "";
 display: block;
 position: absolute;
}

#contact label.error {
 background-color: #91A136;
 border-radius: 4px 4px 4px 4px;
 color: #FFFFFF;
 font-size: 11px;
 line-height: 16px;
 margin: -29px 0 0 10px;
 min-width: 147px;
 padding: 4px 8px;
 position: absolute;
 width: auto;
 z-index: 10;
}

/************************************************************/


/*.newsletter_inputdiv span.error {
 * 	color:#91A136;
 * 	    font-family: tahoma;
 * 	        font-size: 12px;
 * 	            left: 0;
 * 	                margin: -50px 0 0;
 * 	                    position: absolute;
 * 	                        width: 240px;
 * 	                        }*/
.newsletter_inputdiv span.success {
 color: #91A136;
 font-family: tahoma;
 font-size: 12px;
 left: 0;
 margin:0 0 0 0 !important;
 position: absolute;
 width: 240px;
 bottom:30px;
}

.footer_logo {
 float:left;
 margin:0 10px 0 0;
}

.copyright_div {
 float:left;
 margin:0px 0 0 0;
}

.copyright_div p {
 font-family: 'Roboto', sans-serif;
 color:#fff;
 font-size:12px;
}


.copyright_div p a {
    color: #000000;
}

.termandpolicy {
 float:right;
 margin:10px 0 0 0;
}

.termandpolicy ul {
 padding:0;
 margin:0;
}

.termandpolicy ul li {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#fff;
 font-size:13px;
 list-style:none;
 padding: 0 5px;
}

.termandpolicy ul li a {
 text-decoration:none;
 color:#fff;
}

.termandpolicy ul li a:hover { color:#000; }

/*************** About Us and Inner Pages CSS Starts from Here ****************************/


.menu_div {
 float:left;
 width:220px;
}

.menu_div ul {
 padding:0px;
 margin:0px;
}

.menu_div ul li {
 list-style:none;
 font-family: 'Roboto', sans-serif;
 font-size:18px;
 color:#231f20;
 font-weight:normal;
 line-height:33px;
}

.menu_div ul li a {
 text-decoration:none;
 color:#231f20;
 display:block;
 padding:0 0 0 10px;
}

.menu_div ul li a.active, .menu_div ul li a:hover {
 background:url(../images/liactive.png) no-repeat;
 width:190px;
 height:33px;
 color:#91A136
}

.inner_titlediv {
 float:left;
 width:100%;
}

.inner_titlediv h3 {
 font-family: 'Roboto', sans-serif;
 font-size:30px;
 color:#91A136;
 font-weight:900;
 float:left;
 padding:0 0 0px 0;
 line-height:40px;
 width:100%;
}

.inner_content_div {
 float:left;
 width:100%;
 margin:20px 0;
}

.inner_content_div p {
 font-family: 'Roboto', sans-serif;
 font-size:14px;
 color:#727272;
 line-height:20px;
 font-weight:normal;
 padding:0 0 20px 0;
}

.workdiv {
 float:left;
 width:100%;
 margin:0 0 20px 0
}

.workdiv h3 {
 font-family: 'Roboto', sans-serif;
 font-size:30px;
 color:#91A136;
 font-weight:normal;
 float:left;
 padding:0 0 15px 0;
 width:100%;
}

.work_list {
 float:left;
 width:100%;
}

.work_list ul {
 padding:0;
 margin:0;
}

.work_list ul li {
 font-family: 'Roboto', sans-serif;
 font-size:14px;
 color:#727272;
 font-weight:normal;
 padding:5px 0 5px 20px;
 background:url(../images/liarrow.png) no-repeat scroll 0 9px transparent;
}

.map_div {
 float:left;
 width:100%;
 margin:20px 0;
}

.contact_field_div {
 float:left;
 width:100%;
 margin:0 0 20px 0;
}

.main_field {
 float:left;
 width:100%;
 margin:10px 0;
}

.main_field_inner {
 float:left;
 width:367px;
}

.main_field_inner label {
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 padding:4px 0 0 0;
 float:left;
}

.main_field_inner input {
 background:#fff;
 border:1px solid #91A136;
 width:209px !important;
 height:30px;
 padding:0 5px;
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 float:right;
}

.main_field_inner input:hover { border:1px solid #7a8a20; }

.main_field_inner input:focus {
 border:1px solid #91A136;
 -webkit-box-shadow:0 0 5px #91A136;
 -moz-box-shadow:0 0 5px #91A136;
 box-shadow:0 0 5px #91A136;
}

.main_field textarea {
 background:#fff;
 border:1px solid #91A136;
 width:593px;
 height:124px;
 padding:5px;
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 float:right;
 resize:none;
 overflow:auto;
}

.main_field textarea:hover { border:1px solid #7a8a20; }

.main_field textarea:focus {
 border:1px solid #91A136;
 -webkit-box-shadow:0 0 5px #91A136;
 -moz-box-shadow:0 0 5px #91A136;
 box-shadow:0 0 5px #91A136;
}

.main_field input.submit {
 background:url(../images/submitbutton.png) no-repeat;
 width:96px;
 height:31px;
 border:none;
 cursor:pointer;
 float:right;
 margin:15px 0 0 0;
 border:none;
 outline:none;
}

/***************** new for submit on conatct by akash ***********************/
.main_field input.s {
     border:none;
     outline:none;
     cursor:pointer;
     margin:0px 0px 0 0px;
     display:block;
	float:right;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size:20px;
    line-height:24px;
    text-align:center;
	background:#91A136;
}
.main_field input.s:hover {
 	background:#73a82b;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}

/***************** new for submit on conatct by akash ***********************/











.main_field input.submit:hover {
 background-position:0 100%;
 border:none;
}

.main_field label {
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 width:135px;
 padding:4px 0 0 0;
 float:left
}

.main_field label.error {
 color: #91A136;
 font-size: 12px !important;
 margin: -6px 0 0 145px;
 min-width: 220px;
 width: 400px;
}

.main_field input {
 background:#fff;
 border:1px solid #91A136;
 width:593px;
 height:30px;
 padding:0 5px;
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 float:right;
}

.main_field input:hover { border:1px solid #7a8a20; }

.main_field input:focus {
 border:1px solid #91A136;
 -webkit-box-shadow:0 0 5px #91A136;
 -moz-box-shadow:0 0 5px #91A136;
 box-shadow:0 0 5px #91A136;
}

.checkbox_div {
 float: left;
 margin: 0 0 0 10px;
 width: 165px;
}

.checkbox_div input.check {
 float:left;
 width:15px;
 height:15px;
 margin:3px 15px 0 0;
}

.checkbox_div label {
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 width:157px;
 padding:0px 0 0 0 !important;
 float:left;
 width:120px !important;
}

.requirefields {
 float:left;
 width:100%;
 margin:30px 0 0px 0;
}

.requirefields h3 {
 font-family: 'Roboto', sans-serif;
 font-size:22px;
 color:#91A136;
 font-weight:normal;
 float:left;
 padding:0 0 15px 0;
 width:100%;
}

.faq_div {
 float:left;
 width:100%;
 margin:20px 0;
}

.questiondiv {
 float:left;
 width:100%;
 padding:0 0 0px 0;
}

.questiondiv img {
 float:left;
 padding:0 10px 0 0;
}

.questiondiv h5 {
 font-family: 'Roboto', sans-serif;
 font-size:18px;
 color:#91A136;
 font-weight:normal;
 float:left;
 padding:0;
}

.answerdiv {
 float:left;
 width:100%;
 margin:0 0 20px 0;
}

.answerdiv p {
 font-family: 'Roboto', sans-serif;
 font-size:14px;
 color:#727272;
 font-weight:normal;
 float:left;
 padding:0 0 0px 0;
 width:100%;
}

.dropdwon { float:right; }

.dropdwon select {
 float:left;
 width:280px;
 height:33px;
 padding:5px;
 background:#fff;
 border:1px solid #91A136;
 margin:0;
}

.w_1 { width:50% !important; }

.adlisting_div {
 float:left;
 border:1px solid #91A136;
 width:748px;
 margin:10px 0 0 0;
}

.greendiv {
 float:left;
 width:38px;
 background:#91A136;
 height: 720px;
}

.up {
 float:left;
 margin:5px 0 640px 2px;
}

.down {
 float:left;
 margin:0px 0 5px 2px;
}

.ad_main_div {
 float: left;
 height: 700px;
 margin: 0 0 0 10px;
 overflow: auto;
 width: 360px;
}

.ads {
 float:left;
 width:346px;
 border:1px solid #d8d8d8;
 margin:5px 0;
 padding:5px;
}

.ad_topdiv {
 float:left;
 width:100%;
}

.ad_imagediv {
 float:left;
 margin:0 10px 0 0;
}

.tickdiv {
 float:left;
 width:40px;
 margin:0 0px 0 0;
 padding:0 0 0 5px;
}

.tickdiv img {
 float:left;
 margin:2px 0 0;
}

.tickdiv input.bigcheck {
 float:left;
 margin:30px 0 0 5px;
 width:15px;
 height:15px;
}

.money_div {
 float:left;
 width:80px;
}

.money_div img {
 float:left;
 margin: 0 0 0 10px;
}

.money_div p {
 font-family: 'Roboto', sans-serif;
 font-size:24px;
 color:#91A136;
 font-weight:normal;
 float:left;
 padding:20px 0 0px 0;
 width:100%;
 text-align:center;
 line-height: 28px;
}

.ad_discription_div {
 float:left;
 width:100%;
 margin:10px 0 0 0;
}

.ad_discription_div h4 {
 font-family: 'Roboto', sans-serif;
 font-size:22px;
 color:#91A136;
 font-weight:normal;
 float:left;
 text-transform:uppercase;
 padding:0px 0 5px 0;
 width:100%;
}

.ad_discription_div p {
 font-family: 'Roboto', sans-serif;
 font-size:13px;
 color:#727272;
 font-weight:normal;
 float:left;
 padding:0px 0 0px 0;
 width:100%;
}

.right_socialdiv {
 float:left;
 width:225px;
 margin:5px 0 0 80px;
}

.social_list {
 float:left;
 width:100%;
}

.social_list ul {
 padding:0;
 margin:0;
}

.social_list ul li {
 float:left;
 width:215px;
 height:65px;
 border:1px solid #d8d8d8;
 margin:0 0 25px 0;
}

.social_list ul li input.social_check {
 float:left;
 width:20px;
 margin:25px 25px 0;
}

.social_list ul li .socailicondiv {
 float:left;
 margin:10px 0 0 0;
}

.threebuttondiv {
 float:left;
 margin:10px 0 0 0;
}

.threebuttondiv p {
 float:left;
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:12px;
 padding:10px 0 0 0;
}

.selectbutton {
 float:left;
 margin:0 0 20px 0;
}

.selectbutton a {
 background:url(../images/selectbutton.png) no-repeat;
 width:215px;
 height:39px;
 float:left;
 display:block;
}

.selectbutton a:hover { background-position:0 100%; }

.deselectbutton {
 float:left;
 margin:0 0 20px 0;
}

.deselectbutton a {
 background:url(../images/deselectbutton.png) no-repeat;
 width:215px;
 height:39px;
 float:left;
 display:block;
}

.deselectbutton a:hover { background-position:0 100%; }

.postbutton {
 float:left;
 margin:0 0 20px 0;
}

.postbutton a {
 background:url(../images/postbutton.png) no-repeat;
 width:215px;
 height:42px;
 float:left;
 display:block;
}

.postbutton a:hover { background-position:0 100%; }

.onetwothree {
 float:left;
 width:100%;
 margin:20px 0 0 0;
}

.onetwothree_div {
 background: none repeat scroll 0 0 #91A136;
 float: left;
 margin: 0 6px 0 0;
 padding: 2px;
 width: 323px;
}

.numberdiv {
 float:left;
 width:52px;
}

.numberdiv h2 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:70px;
 color:#fff;
 font-weight:normal;
 float:left;
 width:100%;
 text-align:center;
 margin:0;
 line-height: 90px;
}

.greydiv {
 float:left;
 width:270px;
 height:91px;
 background:#e7e8e8;
}

.greydiv_text {
 float:left;
 width:191px;
 padding:10px 0 0 5px;
}

.greydiv_text h3 {
 float:left;
 font-family: 'Roboto', sans-serif;
 font-size:13px;
 font-weight:bold;
 padding:0 0 0px;
 color:#727272;
}

.greydiv_text p {
 float:left;
 font-family: 'Roboto', sans-serif;
 font-size:12px;
 font-weight:normal;
 padding:0 0 10px;
 line-height:18px;
 color:#727272;
}

.greydivicon {
 float: right;
 margin: 0px 0px 0 0;
}

.speaker {
 float:left;
 margin:15px 4px 0 0;
 background:url(../images/signupicon.png) no-repeat;
 width:66px;
 height:48px;
}

.stars {
 float:left;
 margin:5px 4px 0 0;
 background:url(../images/signupicon1.png) no-repeat;
 width:70px;
 height:71px;
}

.up_up {
 float:left;
 margin:7px 15px 0 0;
 background:url(../images/signupicon2.png) no-repeat;
 width:30px;
 height:62px;
}

.advertiser_signup_div {
 float:left;
 width:100%;
 margin:40px 0 0 0;
}

.advertiser_signup_div h3 {
 float:left;
 font-family: 'Roboto', sans-serif;
 font-size:22px;
 font-weight:normal;
 padding:0 0 20px;
 color:#91A136;
 line-height:24px;
 width:100%;
}

.advertiser_signup_div form#user_login .sign_up_fields label.error {
 font-family: 'Roboto', sans-serif;
 color:#91A136;
 font-size:12px;
 position:absolute;
 margin:-20px 0 0 0px;
 right: 25px;
    width: auto;
}

.sign_up_fields {
 float:left;
 width:100%;
 margin:8px 0;
}

.sign_up_fields p {
 float:left;
 font-family: 'Roboto', sans-serif;
 font-size:13px;
 font-weight:normal;
 padding:0 0 0px;
 color:#727272;
 line-height:18px;
 width:100%;
}

.sign_up_fields p a {
 color:#91A136;
 text-decoration:none;
}

.sign_up_fields p a:hover {
 color:#000;
 text-decoration:none;
}

.sign_up_fields label {
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 width:135px;
 padding:4px 0 0 0;
 float:left;
}

.sign_up_fields input {
 background:#fff;
 border:1px solid #91A136;
 width:280px;
 height:30px;
 padding:0 5px;
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 float:left;
}

.sign_up_fields input:hover { border:1px solid #7a8a20; }

.sign_up_fields input:focus {
 border:1px solid #91A136;
 -webkit-box-shadow:0 0 5px #91A136;
 -moz-box-shadow:0 0 5px #91A136;
 box-shadow:0 0 5px #91A136;
}

.no_margin { margin:0 !important; }

/*.sign_up_fields.no_margin input.signupbutton {
 *  float:right;
 *   background:url(../images/signupbuttom.png) no-repeat;
 *    width:94px;
 *     height:29px;
 *      border:none;
 *       outline:none;
 *        cursor:pointer;
 *         margin: 0 35px 0 0;
 *         }
 *
 *         .sign_up_fields.no_margin input.signupbutton:hover {
 *          background-position:0 100%;
 *           border:none;
 *           }
 *           */

.sign_up_fields.no_margin input.signupbutton {
     border:none;
     outline:none;
     cursor:pointer;
     margin:20px 10px 0 0px;
     display:block;
	float:left;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size:20px;
    line-height:22px;
    text-align:center;
	background:#91A136;
}
.sign_up_fields.no_margin input.signupbutton:hover  {
 	background:#73a82b;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}



.line {
 float:left;
 background:url(../images/line.png) no-repeat;
 width:3px;
 height:275px;
 margin:0 100px;
}

.line2 {
 float:left;
 background:url(../images/line.png) no-repeat;
 width:3px;
 height:275px;
 margin:30px 50px;
}

.espyusers {
 float:left;
 width:100%;
 margin:20px 0 30px 0;
}

.usersicon {
 float:left;
 background:url(../images/peoples.png) no-repeat;
 width:72px;
 height:75px;
 margin:0 20px 0 0;
}

.user_numbers {
 float:left;
 width:260px;
}

.globe {
 float:left;
 background:url(../images/globe.png) no-repeat;
 width:68px;
 height:73px;
 margin:0 20px 0 0;
}

.user_numbers p {
 float:left;
 font-family: 'Roboto', sans-serif;
 font-size:40px;
 font-weight:normal;
 padding:0 0 10px;
 color:#91A136;
 line-height:40px;
 width:100%;
}

.user_numbers span {
 float:left;
 font-family: 'Roboto', sans-serif;
 font-size:22px;
 font-weight:normal;
 padding:0 0 10px;
 color:#91A136;
 line-height:24px;
 width:100%;
}



.social_connect p {
 color: #727272;
 float: left;
 font-family: 'Roboto', sans-serif;
 font-size: 13px;
 font-weight: normal;
 line-height: 18px;
 padding:10px 0 0 0;
 width: 100%;
 margin-left: 35px;
}

.social_connect ul {
 padding:0;
 margin:0;
}

.social_connect ul li {
 float:left;
 list-style:none;
 margin:10px 15px 15px 0;
}

.social_connect ul li a {
 float:left;
 display:block;
}

.social_connect ul li a.facebookconnect {
 background:url(../images/connectwithfacebook.png) no-repeat;
 width:196px;
 height:39px;
}

.social_connect ul li a.facebookconnect:hover { background-position:0 100%; }

.social_connect ul li a.twitterconnect {
 background:url(../images/connectwithtwitter.png) no-repeat;
 width:196px;
 height:39px;
}

.social_connect ul li a.twitterconnect:hover { background-position:0 100%; }

.social_connect ul li a.googleconnect {
 background:url(../images/connectwithgoogle.png) no-repeat;
 width:196px;
 height:39px;
}

.social_connect ul li a.googleconnect:hover { background-position:0 100%; }

.social_connect ul li a.linkedinconnect {
 background:url(../images/connectwithlinkedin.png) no-repeat;
 width:196px;
 height:39px;
}

.social_connect ul li a.linkedinconnect:hover { background-position:0 96%; }

.social_connect ul li a.pinterestconnect {
 background:url(../images/connectwithpinterest.png) no-repeat;
 width:196px;
 height:39px;
}

.social_connect ul li a.pinterestconnect:hover { background-position:0 96%; }

.termsandprivacy {
 float: left;
 margin: 10px 0 40px;
 width: 100%;
}

.termsandprivacy h2 {
 color: #91A136;
 float: left;
 font-family:'Roboto', sans-serif;
 font-size: 24px;
 font-weight: normal;
 margin: 0;
 padding: 0 0 10px;
 width: 100%;
}

.termsandprivacy h3 {
 color: #91A136;
 float: left;
 font-family: 'Roboto', sans-serif;
 font-size: 20px;
 font-weight: normal;
 margin: 0;
 padding: 10px 0;
 width: 100%;
}

.termsandprivacy p {
 color:#272121;
 float: left;
 font-family: 'Roboto', sans-serif;
 font-size: 13px;
 font-weight: normal;
 line-height: 22px;
 margin: 0;
 padding: 0 0 10px;
 width: 100%;
}

.termsandprivacy p a {
 color: #91A136;
 text-decoration: underline;
}

.termsandprivacy p a:hover { color: #000000; }

.termsandprivacy p b { font-size: 14px; }

.page_list {
 float: left;
 margin: 0;
 width: 100%;
}

.page_list ul {
 float: left;
 margin: 0;
 padding: 0;
}

.page_list ul li {
 background: url(../images/square.png) no-repeat scroll 0 6px transparent;
 color: #272121;
 font-family: 'Roboto', sans-serif;
 font-size: 13px;
 font-weight: normal;
 line-height: 20px;
 list-style: none outside none;
 margin: 5px 0;
 padding: 0 0 0 20px;
 width: 100%;
}

/********** espy-login ************/

.advertiser_signup_div {
 float:left;
 width:100%;
 margin:40px 0 0 0;
}

.advertiser_signup_div h3 {
 float:left;
 font-family: 'Roboto', sans-serif;
 font-size:22px;
 font-weight:normal;
 padding:0 0 20px;
 color:#91A136;
 line-height:24px;
 width:100%;
}

.user_signup_div {
 float:left;

 width:100%;
 margin:0px 0 0 0;
}

.user_signup_div h3 {
 
 font-family: 'Roboto', sans-serif;
 font-size:20px;
 font-weight:normal;
 padding:20px 0 10px;
 color:#91A136;
 line-height:24px;
 width:100%;
 text-align: left;
}

.sign_up_fields {
 float:left;
 width:100%;
 margin:8px 0;
}

.sign_up_fields p {
 float:left;
 font-family: 'Roboto', sans-serif;
 font-size:13px;
 font-weight:normal;
 padding:0 0 0px;
 color:#727272;
 line-height:18px;
 width:100%;
}

form#signup span.success {
 color: green;
 left: 0;
 margin: 30px 0 0;
 position: absolute;
 font-family: 'Roboto', sans-serif;
 font-size:13px;
}

form#signup span.error {
 color: red;
 left: 0;
 margin: 30px 0 0;
 position: absolute;
 font-family: 'Roboto', sans-serif;
 font-size:13px;
}

.forgotpassword { float:left; }

.forgotpassword p { width:auto !important; }

.forgotpassword input.remember {
 width:15px;
 height:15px;
 margin: 1px 10px 0 0;
 border:medium none;
}

.forgotpassword input.remember:hover { border:medium none; }

.lftdiv {
 float:left;
 margin:10px 0 0;
}

.forgotpassword a {
 float:left;
 font-family: 'Roboto', sans-serif;
 font-size:12px;
 font-weight:normal;
 padding:0 0 0 20px;
 color:#91A136;
 line-height:18px;
 margin:0 0 0 0px;
}

.forgotpassword a:hover {
 color:#000;
 text-decoration:none;
}

.sign_up_fields input.log_in_button {
 float:right;
 outline:none;
 cursor:pointer;
 margin:0 25px 0 0;
 width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size:20px;
    line-height:22px;
    text-align:center;
	background:#91A136;

}

.sign_up_fields input.log_in_button:hover {
	background:#73a82b;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;

}

.sign_up_fields input.reset_button 
{
    background: none repeat scroll 0 0 #8CC540;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: auto;
    margin: 0px 10px 0 134px;
    outline: medium none;
    padding: 4px 20px;
    text-align: center;
    width: auto;
}

/* will be red only in google chrome */
.sign_up_fields input.reset_button {
    -bracket-:hack;
        padding:0px 20px;
        margin: 0px 10px 0 144px;
    ;
}

.sign_up_fields input.reset_button:hover {
 background-position:0 100%;
 border:none;
}

.sign_up_fields p a {
 color:#91A136;
 text-decoration:none;
}

.sign_up_fields p a:hover {
 color:#000;
 text-decoration:none;
}

.sign_up_fields label {
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 width:135px;
 padding:4px 0 0 0;
 float:left;
}

.sign_up_fields label span {
    color: #000;
    font-size: 14px;
}

.sign_up_fields label{
    -bracket-:hack;
        padding:4px 8px 0 0;
    ;
}


.sign_up_fields input {
 background:#fff;
 border:1px solid #91A136;
 width:270px;
 height:30px;
 padding:0 5px;
 font-family: 'Roboto', sans-serif;
 color:#727272;
 font-size:14px;
 float:left;
 line-height:30px;
 outline: none;
}

/* will be red only in google chrome */
.sign_up_fields input.required.email,
.sign_up_fields input.required.pass{
    -bracket-:hack;
        width:270px;
    ;
}




.sign_up_fields input:hover { border:1px solid #7a8a20; }

.sign_up_fields input:focus {
 border:1px solid #91A136;
 -webkit-box-shadow:0 0 5px #91A136;
 -moz-box-shadow:0 0 5px #91A136;
 box-shadow:0 0 5px #91A136;
}

.line3 {
 float:left;
 background:url(../images/line.png) no-repeat;
 width:3px;
 height:275px;
 margin:10px 50px;
}

.social_connect {
 float: left;
    margin: 0;
    width: 92%
}

.advertiser_signup_div .social_connect {
 float:left;
 width:100%;
 margin:0px 0 0 0;
}

.social_connect p {
 color: #727272;
 float: left;
 font-family: 'Roboto', sans-serif;
 font-size: 13px;
 font-weight: normal;
 line-height: 18px;
 padding:10px 0 0 0;
 width: 100%;
}

.social_connect ul {
 padding:0;
 margin:0;
}

.social_connect ul li {
 float:right;
 list-style:none;
 margin:10px 0px 15px 5px;
}

.social_connect ul li a {
 float:left;
 display:block;
}

.social_connect ul li a.facebookconnect {
 background:url(../images/connectwithfacebook.png) no-repeat;
 width:396px;
 height:39px;
}

.social_connect ul li a.facebookconnect:hover { background-position:0 100%; }

.social_connect ul li a.twitterconnect {
 background:url(../images/connectwithtwitter.png) no-repeat;
 width:196px;
 height:39px;
}

.social_connect ul li a.twitterconnect:hover { background-position:0 100%; }

.social_connect ul li a.googleconnect {
 background:url(../images/connectwithgoogle.png) no-repeat;
 width:196px;
 height:39px;
 display:none;
}

.social_connect ul li a.googleconnect:hover { background-position:0 100%; }

.social_connect ul li a.linkedinconnect {
 background:url(../images/connectwithlinkedin.png) no-repeat;
 width:196px;
 height:39px;
 display:none;
}

.social_connect ul li a.linkedinconnect:hover { background-position:0 96%; }

.social_connect ul li a.pinterestconnect {
 background:url(../images/connectwithpinterest.png) no-repeat;
 width:196px;
 height:39px;
 display:none;
}

.social_connect ul li a.pinterestconnect:hover { background-position:0 96%; }

.good_tick {
    display: none;
    float: right;
    height: 24px;
    margin: 0 -30px 0 0;
    position: absolute;
    right: 0;
    width: 24px;
}

.false_tick {
    display: none;
    float: right;
    height: 24px;
    margin: 6px -30px 0 0;
    position: absolute;
    right: 0;
    width: 24px;
}

#captcha_no.false_tick {
    margin:-26px -30px 0 0 !important;
}


.error_login {
 color:#91A136;
 padding: 0 0 0 105px;
}

p.no_ad_msg {
 color: peeru;
 font-size: 16px;
 padding: 10px 12px 13px 0;
}

.logout {
 float:right;
 margin: 0 0 0 2px;
}

.logout a {
 display:block;
 float:left;
     cursor:pointer;
     margin:0px 0px 0 0px;
     display:block;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size:20px;
    line-height:24px;
    text-align:center;
	background:#91A136;

}

.logout a:hover {background:#73a82b;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}


.dashboardbtn { float:right; }

.dashboardbtn a {
 display:block;
 float:left;
     cursor:pointer;
     margin:0px 0px 0 0px;
     display:block;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size:20px;
    line-height:24px;
    text-align:center;
	background:#91A136;
}

.dashboardbtn A:hover { background:#73a82b;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
 }

.faq_div .faq_box {
 border: 1px solid #F5F5F5;
 clear: both;
 float: left;
 margin: 0 0 10px;
 padding: 4px;
 width: 98%;
}

.faq_div .faqtable {
 float:left;
 clear:both;
}

.faq_div .faq_box p {
 color: #727272;
 float: left;
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
 font-weight: normal;
 line-height: 18px;
 padding:0px 0 0 0;
 width: 100%;
 text-transform: capitalize;
}

.faq_div .faq_box p img {
 float:left;
 margin:0 10px 0 0;
 position:relative;
}

.faqtable {
 border: 1px solid #f7f7f7;
 clear: both;
 float: left;
 margin: 0 0 10px;
 padding: 4px;
 width: 98%;
}

.faqtable img {
 float:left;
 margin:0 10px 0 0;
 position:relative;
}

.faqtable p {
 color: #727272;
 float: left;
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 font-weight: normal;
 line-height: 18px;
 padding:0 0 10px 0;
 width: 100%;
 text-transform: capitalize;
}

.faqtable p span { padding:10px 0 0 0; }

.faq_box2, .faq_box3 { display:none; }

.admin_inputdiv { }

.admin_inputdiv p {
 margin: 0;
 padding: 0;
}

.eml {
 margin: 0 0 0 60px;
 width: 80px !important;
}

.faqtable span a {
 color: #8CC540;
 font-size: 14px;
}

.faq_d a { color: #8CC540; }

.faq_d {
 float: left;
 text-align: left;
 margin-left: 5px;
 width: 100%;
 font-weight: bold;
}


/********** For All Button CSS ****************/

.ac {
	display:block;
	float:left;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:0 20px;
 	font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size:20px;
    line-height:24px;
    text-align:center;
	background:#91A136;
}
.ac:hover {
 	background:#73a82b;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}


/********** /For All Button CSS Ends ****************/

.error_r{
    color: #FF0000;
    font-size: 11px;
    bottom: 0;
    margin:0;
    right:10px;
    position: absolute;
}

#captcha{
    margin: 0 10px 0 0;
    width: 180px;
}




/**********For Pop Up**************/

#loginForm.pop_message {
    background-color: #FFFFFF;
    background-image: url("../images/msg.jpg");
    background-position: 9px center;
    background-repeat: no-repeat;
    border: 2px solid #000000;
    color: #000000;
    font-size: 16px;
	width:300px;
  float:left;
    padding: 20px 46px 20px 55px;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 1px 3px #000000;
}

.survey_submit_div
{
width:100%;
float:left;
margin:142px 0 142px 0;
}

.survey_submit_div p {
    color: #272121;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
	text-align:center;
}

.survey_submit_div p a
{
color: #8CC540;
}

.survey_submit_div p a:hover
{
color: #7D7D7D;
}

#footer-links {
    float: left;
    margin:10px 0 0 280px;
    width: 250px;
}

.Terms.of.use {
    float: left;
    padding: 0 30px 0 0;
}

#social {
    margin: 12px 0 0 0;
}

/****/
.sign_up {
    float: left;
    margin: 10px 0 0 54px;
    width: 80%;
}

.sign_up > a {
    background: none repeat scroll 0 0 #A8BA3F;
    border-radius: 3px;
    color: #FFFFFF;
    float: left;
    font-size: 0.813em;
    font-weight: 600;
    padding: 10px 15px;
}

.sign_up > a:hover
{
background-color: #A3B786 !important;
color:#fff;
   text-decoration: none;
}




