/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	clear: both;
	float:left;
	width:100%;
	zoom: 1; /* Feeling sorry for IE */
}
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}
.dataTables_length {
	width: 40%;
	float: left;
	margin: 20px 0 0 20px;
}
.dataTables_length label {
	font-family: 'LatoRegular';
	color:#404040;
	font-size:16px;
	float:left;
}
.dataTables_length label select {
	float:right;
	width:150px;
	height:30px;
	margin:0 0 0 10px;
	padding:4px;
	border:1px solid #1da149;
}
.dataTables_filter {
	width:40%;
	float: left;
	margin: 20px 0 0 20px;
	text-align: right;
}
.dataTables_filter label {
	font-family: 'LatoRegular';
	color:#404040;
	font-size:16px;
	float:left;
}
.dataTables_filter label input {
	float:right;
	width:150px;
	height:30px;
	font-family: 'LatoRegular';
	font-size:14px;
	padding:0 5px;
	margin:0 0 0 10px;
	border:1px solid #1da149;
	line-height:30px;
}
.dataTables_info {
	width: 60%;
	float: left;
}
.dataTables_paginate {
	float: right;
	text-align: right;
}
/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
 *cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover, .paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active, .paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}
.paginate_disabled_previous, .paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}
.paginate_disabled_previous {
	background: url('../images/back_disabled.png') no-repeat top left;
}
.paginate_enabled_previous {
	background: url('../images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('../images/back_enabled_hover.png') no-repeat top left;
}
.paginate_disabled_next {
	background: url('../images/forward_disabled.png') no-repeat top right;
}
.paginate_enabled_next {
	background: url('../images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('../images/forward_enabled_hover.png') no-repeat top right;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}
table.display thead th {
	padding: 3px 18px 3px 10px;
	font-weight: bold;
	cursor: pointer;
 * cursor: hand;
}
table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}
table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}
table.display td {
	padding: 3px 10px;
}
table.display td.center {
	text-align: center;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	/*background: url('../images/sort_asc.png') no-repeat center right;*/
}
.sorting_desc {
	/*background: url('../images/sort_desc.png') no-repeat center right;*/
}
.sorting {
	/*background: url('../images/sort_both.png') no-repeat center right;*/
}
.sorting_asc_disabled {
/*	background: url('../images/sort_asc_disabled.png') no-repeat center right;*/
}
.sorting_desc_disabled {
	/*background: url('../images/sort_desc_disabled.png') no-repeat center right;*/
}
table.display thead th:active, table.display thead td:active {
	outline: none;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}
table.display tr.even.gradeA {
	background-color: #eeffee;
}
table.display tr.odd.gradeC {
	background-color: #ddddff;
}
table.display tr.even.gradeC {
	background-color: #eeeeff;
}
table.display tr.odd.gradeX {
	background-color: #ffdddd;
}
table.display tr.even.gradeX {
	background-color: #ffeeee;
}
table.display tr.odd.gradeU {
	background-color: #ddd;
}
table.display tr.even.gradeU {
	background-color: #eee;
}
tr.odd {
	background-color: #E2E4FF;
}
tr.even {
	background-color: white;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}
.dataTables_scrollBody {
 *margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}
.top .dataTables_info {
	float: none;
}
.clear {
	clear: both;
}
.dataTables_empty {
	text-align: center;
}
tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}
tfoot input.search_init {
	color: #999;
}
td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}
td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}
.example_alt_pagination div.dataTables_info {
	width: 40%;
}
.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}
.paging_full_numbers a.paginate_button,  .paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
 *cursor: hand;
	color: #333 !important;
}
.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}
.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}
.paging_full_numbers a.paginate_active {
	background-color: #1ea149;
}
table.display tr.even.row_selected td {
	background-color: #B0BED9;
}
table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}
/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
}
tr.odd td.sorting_2 {
}
tr.odd td.sorting_3 {
}
tr.even td.sorting_1 {
}
tr.even td.sorting_2 {
}
tr.even td.sorting_3 {
}
/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}
tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}
tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}
tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}
tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}
tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}
tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}
tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}
tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}
tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}
tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}
tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}
tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}
tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}
tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}
tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}
tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}
tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}
tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}
tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}
tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}
tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}
tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}
tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}
/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}
.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}
.ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3;
}
.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}
.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}
.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}
.ex_highlight_row #example tr.odd:hover {
	background-color: #E6FF99;
}
.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}
.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}
.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}
/*
 * KeyTable
 */
table.KeyTable td {
	border: 3px solid transparent;
}
table.KeyTable td.focus {
	border: 3px solid #3366FF;
}
table.display tr.gradeA {
	background-color: #eeffee;
}
table.display tr.gradeC {
	background-color: #ddddff;
}
table.display tr.gradeX {
	background-color: #ffdddd;
}
table.display tr.gradeU {
	background-color: #ddd;
}
div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}


table#admin_table_1, table#ads_table{
	float:left;
	width:100%;
	margin: 20px 0;
}

table#admin_table_1 thead, table#ads_table thead {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f2));
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f2) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2)" ;
	float:left;
	width:846px;
	border: 1px solid #F0F0F0;
}
table#admin_table_1 thead{
     width: 1130px !important;
}
table#admin_table_1 tbody tr{
     width: 1130px !important;
}

table#admin_table_1 .alpha7,table#admin_table_1 .alpha8{
     width: 110px !important;
      float: left;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    line-height: 30px !important;
     text-align: left;
     text-transform: capitalize;
}



table#admin_table_1 thead tr th, table#ads_table thead tr th{
	float:left;
	    line-height: 30px !important;
		font-family: 'LatoRegular';
		font-size:14px;
		
	}	

    .alpha11, .ads_td_1 {
    padding: 0 !important;
    width:40px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
.alpha12, .ads_td_2 {
    padding: 0 !important;
    width: 221px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
.alpha13, .ads_td_3 {
    padding: 0 !important;
    width: 222px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
.alpha14, .ads_td_4 {
    padding: 0 !important;
    width: 222px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
.alpha15 , .ads_td_5 {
    padding: 0 !important;
    width: 70px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
table#ads_table tbody tr td a, table#admin_table_1 tbody tr td a, table#admin_table_2 tbody tr td a{
  color: #333333;
    font-family: Arial,Helvetica,sans-serif;
}

table#ads_table tbody tr td a:hover, table#admin_table_1 tbody tr td a:hover, table#admin_table_2 tbody tr td a:hover{
    color:silver;
}


.alpha1, .td_1 {
    padding: 0 0 0 10px !important;
    text-align: left;
    width: 40px !important;
}
.alpha2, .view_user, .view_advt  {
    padding: 0 !important;
    width: 185px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
.alpha3, .mail {
    padding: 0 !important;
    width: 185px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
.alpha4, .website {
    padding: 0 !important;
    width: 185px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
.alpha5, .contact{
    padding: 0 !important;
    width: 110px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
.alpha6, .editdiv{
    padding: 0 !important;
    width:80px !important;
	text-align:left;
	padding: 0 0 0 10px !important;
}
 .delete_user, .delete_advt  {
    padding: 0 !important;
    width: 20px !important;
	text-align:center;
}

 img.delete_user{
	cursor:pointer;
}

table#admin_table_1 tbody , table#ads_table tbody{
	float:left;
	width:850px;
}


table#admin_table_1 tbody tr , table#ads_table tbody tr{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f2));
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f2) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2)" ;
	float:left;
	width:846px;
	border: 1px solid #F0F0F0;
	padding: 5px 0;
}
table#admin_table_1 tbody tr:hover, table#ads_table tbody tr:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f2), to(#ffffff));
	background: -moz-linear-gradient(top,  #f0f0f2,  #ffffff) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f2, endColorstr=#ffffff) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f2, endColorstr=#ffffff)" ;
	border: 1px solid #1ea149;
}

table#admin_table_1 tbody tr td, table#ads_table tbody tr td{
	float: left;
    font-family: tahoma;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}



table#admin_table_2{
	float:left;
	width:100%;
	margin: 20px 0;
}

table#admin_table_2 thead{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f2));
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f2) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2)" ;
	float:left;
	width:846px;
	border: 1px solid #F0F0F0;
}




table#admin_table_2 thead tr th{
	float:left;
	    line-height: 30px !important;
		font-family: 'LatoRegular';
		font-size:14px;
		
	}

table#admin_table_2 tbody tr{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f2));
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f2) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2)" ;
	float:left;
	width:846px;
	border: 1px solid #F0F0F0;
	padding: 5px 0;
}
table#admin_table_2 tbody tr:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f2), to(#ffffff));
	background: -moz-linear-gradient(top,  #f0f0f2,  #ffffff) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f2, endColorstr=#ffffff) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f2, endColorstr=#ffffff)" ;
	border: 1px solid #1ea149;
}

table#admin_table_2 tbody tr td{
	float:left;
}



#admin-content-bottom .faqs_inner{
	float:left;
	width:100%;
	margin:0px 0 0 0;
}


#admin-content-bottom .faqs_inner table#faq_table{
    float: left;
    margin: 20px 0 0;
    width: 100%;
}




#admin-content-bottom .faqs_inner table#faq_table thead tr{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f2));
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f2) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2)" ;
	float:left;
	width:846px;
	border: 1px solid #F0F0F0;
}

#admin-content-bottom .faqs_inner table#faq_table thead tr th{
	    padding: 5px 18px 5px 4px !important;
}

#admin-content-bottom .faqs_inner table#faq_table tbody tr{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f2));
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f2) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2)" ;
	float:left;
	width:846px;
	border: 1px solid #F0F0F0;
	padding: 5px 0;
}
#admin-content-bottom .faqs_inner table#faq_table tr:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f2), to(#ffffff));
	background: -moz-linear-gradient(top,  #f0f0f2,  #ffffff) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f2, endColorstr=#ffffff) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f2, endColorstr=#ffffff)" ;
	border: 1px solid #1ea149;
}





.a1 {
    text-align: left;
    width: 40px !important;
	
}

.a2 {
    text-align: left;
    width: 230px !important;
}

.a3 {
    text-align: left;
    width: 330px !important;
}

.a4{
    text-align: left;
    width: 70px !important;
}

.a5{
    text-align: left;
    width: 70px !important;
}


form#faqs{
	float:left;
	width:100%;
	margin:20px 0 0 0;
}

form#faqs .question{
    float: left;
    margin: 10px 0 20px 70px;
    width: 90%;

}


form#faqs .question label {
    clear: none;
    color: #000000;
    float: left;
    height: 40px;
    margin: 0 0 0 0px;
    padding: 5px 0 5px 10px;
    width:200px;
	font-family: 'LatoRegular';
	font-size:18px;
}


form#faqs .question textarea{
	background:#fff;
	border:1px solid #1ea149;
	width:450px;
	height:80px;
	padding:5px;
	font-family: 'LatoRegular';
	color:#727272;
	font-size:14px;
	float:left;
	resize:none;
	overflow:auto;
}
form#faqs .question textarea:hover {
	border:1px solid #31ca63;
}
form#faqs .question textarea:focus {
	border:1px solid #1ea149;
	-webkit-box-shadow:0 0 5px #1ea149;
	-moz-box-shadow:0 0 5px #1ea149;
	box-shadow:0 0 5px #1ea149;
}


form#faqs .question select{
	float:left;
	width:280px;
	height:33px;
	padding:5px;
	background:#fff;
	border:1px solid #1ea149;
	margin:0;
}

form#faqs .question label input.updtqsn{
    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family: 'LatoRegular';
    font-size:18px;
    color:#fff;
    width:130px !important;
    height:34px !important;
    border:none;
    cursor:pointer;

}

form#faqs .question label input.updtqsn:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family: 'LatoRegular';
    font-size:18px;
    color:#272121;
    width:130px !important;
    height:34px !important;
    border:none;

}

table#nonprft_table{
	float:left;
	width:100%;
	margin:20px 0;
}




table#nonprft_table thead tr{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f2));
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f2) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2)" ;
	float:left;
	width:846px;
	border: 1px solid #F0F0F0;
}

table#nonprft_table thead tr th{
	    padding: 5px 18px 5px 4px !important;
}

table#nonprft_table tbody tr{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f2));
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f2) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f0f0f2)" ;
	float:left;
	width:846px;
	border: 1px solid #F0F0F0;
	padding: 5px 0;
}
table#nonprft_table tr:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f2), to(#ffffff));
	background: -moz-linear-gradient(top,  #f0f0f2,  #ffffff) ;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f2, endColorstr=#ffffff) ;    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f2, endColorstr=#ffffff)" ;
	border: 1px solid #1ea149;
}

.n1 {
    text-align: left;
    width: 80px !important;
	
}

.n2 {
    text-align: left;
    width: 120px !important;
}

.n3 {
    text-align: left;
    width:240px !important;
}

.n4{
    text-align: left;
    width:140px !important;
}

.n5{
    text-align: left;
    width: 70px !important;
}


.n5{
    text-align: left;
    width: 70px !important;
}

