


#dashboard_div {
	background:#fff;
	float:left;
	width:996px;
	border:2px solid #5484CA;
	margin:40px 0 0 0;
}
.dash_title {
	float:left;
	background:#5484CA;
	width:994px;
	height:42px;
	margin:1px 0 0 1px;
}
.dash_title p {
	font-family:Arial;
	font-size:18px;
	color:#fff;
	font-weight:normal;
	float:left;
	padding:0 0 0 10px;
	line-height:42px;
}
.dashboard_area {
	float:left;
	width:1000px;
	margin: 0 0 0 5px;
	min-height:600px;
}
.dashboard_area_left {
    float: left;
    width: 265px;
}
.headingback_div {
	float:left;
	width:209px;
	background:url(../images/headingback.png) repeat-x;
	height:53px;
}
.headingback_div h3 {
	font-family: 'Antic Slab';
	font-size:22px;
	color:#fff;
	font-weight:normal;
	float:left;
	padding:0 0 0 10px;
	line-height:52px;
}
.dash_listdiv {
	float:left;
	margin:0px;
	clear: both;
}
.mrgn_top {
	margin-top:30px !important;
}
.dashboardtabscontent {
	float: left;
	margin: 20px 0 0px 0px;
	min-height:700px;
	position:relative;
	width: 1000px;
	
	background-color: #f9f9f9;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
		border-radius: 0 3px 3px 0;
		border: 1px solid #dadada;
}
/*.dashboardtabscontent {
    border: 1px solid #CCCCCC;
    float: left;
    margin:0px 0 20px;
    min-height: 700px;
    position: relative;
    width: 775px;
}*/

.dashboard_detail {
    float: left;
    padding: 10px 20px;
    width: 960px;
}
/*.dashboard_detail p {
	font-family:Arial;
	font-size:40px;
	color:#343434;
	font-weight:normal;
	float:left;
	line-height:50px;
	text-align:center;
	width:410px;
	padding: 25px 0 0 160px;
}*/