html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	background:#efefef url(../images/pattern4.png) repeat;
	width:100%;
	margin:0px;
	padding:0px;
	font-family: 'Antic Slab';
	color:#111111;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    font-smooth:always;
}
.pattern2 {
	background:url(../images/pattern.jpg) repeat;
	width:100%;
}
html {
	padding:0px !important;
	margin:0px !important;
}
.clr {
	clear:both;
}
* {
	padding:0;
	margin:0;
}
.flt {
	float:left !important;
}
.flr {
	float:right !important;
	margin:0px !important;
}
#main_wrapper {
	/*float: left;*/
	height: 100%;
	margin: 0;
	width: 100%;
}
.top_panel {
	float:left;
	width: 100%;
	border-bottom: 1px solid #819029;
    background:#91A136;
	/*background:url(../images/top_panel.png) repeat-x;*/
}
#work_container {
	width:1000px;
	margin:0 auto;
}
#header {
	width:1000px;
	float:left;
	margin:20px 0 0 0;
}
#logo {
	float:left;
	margin-top: 20px;
}
#middle {
	float:left;
	width:1000px;
	margin:50px 0 0 0;
}
#middle1 {
	float:left;
	width:1000px;
	margin:0px 0 0 0;
}
.right_bar {
	float:left;
	width:265px;
}
.right_bar_inner {
	position: absolute;
	top: 324px;
	width: 254px;
	float:left;
	left: 34px;
}
.person_name {
	background: url("../images/person_bg.png") repeat scroll 0 0 transparent;
	float: left;
	height: 95px;
	margin-top: 32px;
	padding: 10px 0 0 10px;
	width: 254px;
}
.person_img {
	float:left;
	width:75px;
	height:85px;
}
.person_img img {
	float: left;
	height: 85px;
	width: 75px;
}
.person_name p {
	float:left;
	margin:0;
	font-family: 'Antic Slab';
	font-size:18px;
	color:#000000;
	width: 70%;
	text-transform:capitalize
}
.person_name2 {
	background: url("../images/person_bg.png") repeat scroll 0 0 transparent;
	float: left;
	height: 95px;
	margin-top: 32px;
	padding: 10px 0 0 5px;
	width: 260px;
}
.person_name2 p {
	float:left;
	font-size:14px;
	font-family: 'Antic Slab';
	color:#000000;
	text-align: center;
	width:100%;
}
.create_comp {
	float:left;
	width:100%;
	margin: 15px 0 0;
}
.create_img {
	float:left;
}
.create_img a {
	text-align:center;
	background:url(../images/create_comp.png) no-repeat;
	width:176px;
	height:35px;
	margin:0 0 0 35px;
	float:left;
}
.create_img a:hover {
	background-position:0 100%;
}
.logout {
	float:right;
	margin-top:5px;
	position:relative;
	background:url(../images/icons/logoutbutton.png);
	width:100px;
	height:35px;
	cursor:pointer;
}
.logout:hover {
	background-position:0 100%;
}
.setting_img {
	float:left;
	background:url(../images/setting.png) no-repeat;
	width:131px;
	height:49px;
	margin: 0 0 0 15px;
}
.profile_box {
	height:48px;
	float:left;
	width:100%;
	border:1px solid #d7d7d7;
	background:#e9e7e7;
	margin: 12px 0 0;
}
.profile_box p {
	color:#000000;
	float:left;
	font-size:18px;
	font-family: 'Antic Slab';
	margin: 14px 0 0 12px;
}
.input_con {
	float:left;
	width:100%;
	margin: 12px 0 0 1px;
}
.profile_input {
	float:left;
	width:100%;
	margin:0 0 20px 0;
}
.profile_input p {
	float:left;
	font-family: 'Antic Slab';
	font-size:16px;
	color:#000000;
	width:210px;
/*	text-transform: capitalize; */
}
.profile_right_con {
	float:left;
	width:324px;
}
.profile_right_con p a {
	text-decoration:none;
	color:#06F;
	font-family: 'Antic Slab';
	font-size:16px;
}
.profile_right_img {
	float: left;
	
}
.profile_right_img img{
	border: 1px solid #CCCCCC;
	padding:2px;
}
.top_image {
	float:right;
	width:500px;
}
.top_image_div {
	float: right;
	padding: 5px;
}
.top_image_div img {
	 border: 1px solid #819029;
	 padding:2px;
}
.top_image_text {
	float:right;
	margin:5px 10px 0 0px;
}
.top_image_text p {
	float:right;
	clear:both;
	font-family: 'Antic Slab';
	font-size:18px;
	color:#000;
	padding:0 0 10px 0px;
	text-transform:capitalize;
}
.profile_right_con input {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	height: 20px;
	padding: 4px;
	width: 240px;
 	outline:none;
}
input, textarea, select{
 outline:none;
 font-family: 'Antic Slab';
}
.profile_right_con textarea {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	height: 65px;
	padding: 4px;
	width: 240px;
	resize:none;
}
/*.profile_right_con label.error {
    color: #FF0000;
    float: left;
    font-family: 'Antic Slab';
    font-size: 13px;
    margin: -13px 0 0 -177px;
    width: 300px;
}

.profile_input .profile_right_con ul li label.error {
	color: #FF0000;
	float: left;
	font-family: 'Antic Slab';
	font-size: 13px;
	margin:0 0 0 273px;
	width:300px;
	position:absolute;
}
*/
form#change_pass_form .profile_input .profile_right_con label.error, form#change_pass .profile_input .profile_right_con label.error {
	color: #FF0000;
	float: left;
	font-family: 'Antic Slab';
	font-size: 13px;
	margin: -18px 0 0 -193px;
	position:absolute;
	width:300px;
}
.profile_left_con {
	float:left;
	width:150px
}
.profile_left_con label {
	float:left;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#000000;
	width:150px;
	text-transform: capitalize;
	margin: 8px 0 0;
}

.upload {
	float:left;
	width:146px;
	margin: 40px 0 0 15px;/*background:url(../images/upload.png) no-repeat;*/
}
.upload img {
	cursor:pointer;
	display:block;
}
.upload:hover {
	background-position:0 100%;
}
.profile_right_con input.update {
	margin: 0 0 0 149px;
	cursor:pointer;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Antic Slab';
    color:#fff;
    font-size:20px;
    text-align:center;
	background:#91A136;
}
.profile_right_con input.update:hover {
	background:#808f2a;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;

}
.connected_con {
	float:left;
	margin-top:12px 0 0 0;
	width:100%;
}
.connected_con p {
	width:100%;
	float:left;
	font-family: 'Antic Slab';
	font-size:18px;
	color:#000000;
}
.social_con {
	margin:12px 0 0 0;
	float:left;
	width:100%;
}
.social_left_con {
	float:left;
	width:210px;
}
.social_left_con img {
	float:left;
}
.social_left_con p {
	color:#000000;
	float: left;
	font-family: 'Antic Slab';
	font-size: 18px;
	margin: 8px 0 0 7px;
	text-transform: uppercase;
	width: 120px;
}
.social_right_con {
	float:left;
	width:650px;
}
.link {
	float:left;
	width:240px;
	margin: 11px 0 0;
}
.link p {
	float:left;
	font-family: 'Antic Slab';
	font-size:15px;
	color:#000000;
}
.link2 {
	float:left;
	width:240px;
	margin: 11px 0 0;
}
.link2 p {
	float:left;
	font-family: 'Antic Slab';
	font-size:15px;
	color:#48bbf7;
}
.link2 p a {
	float:left;
}
.link2 p a:hover {
	color:#000;
}
.link3 {
	float:left;
	width:150px;
	margin: 11px 0 0;
}
.link3 p {
	float:left;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#d91414;
}
.link3 p a {
	float:left;
}
.link3 p a:hover {
	color:#000;
}
.profile_top {
	margin-top:30px;
}
.profile_input .profile_right_con ul {
	list-style:none;
	margin:0;
	padding:0;
}
.profile_input .profile_right_con ul li {
	background: none repeat scroll 0 0 transparent;
	color:#000000;
	float: left;
	font-family: 'Antic Slab';
	font-size: 14px;
	line-height: 20px;
	padding: 0 15px 0 0;
	width: 90px !important;
}
.profile_input .profile_right_con ul li label {
	float: left;
	font-family: 'Antic Slab';
	font-size: 14px;
	margin-left: 7px;
	margin-top: -4px;
}
.profile_input .profile_right_con ul li input.required {
	float:left;
	width:30px !important;
	height:auto !important;
}
.profile_right_con select {
	background-color: #fff;
	border: 1px solid #C4C4C4;
	float: left;
	height: 36px;
	margin: 2px 0 0;
	padding: 6px;
	width: 250px;
}
.profile_right_con input.chk_box {
	float: left;
	height: 15px;
	margin-right: 7px;
	margin-top: -1px;
	width: 15px;
	border:medium none;
}
.profile_right_con label {
	color:#000000;
	float: left;
	font-family: 'Antic Slab';
	font-size: 14px;
	margin: -2px 0 0;
}
.top_margin {
	margin-top: 10px;
}
.bottom {
	margin:-7px 0 0 0;
}
.profile_right_con input.email1 {
	margin: 0 0 0 210px;
	background:url(../images/email.png) no-repeat;
	width:220px;
	height:35px;
	border:none;
	cursor:pointer;
	padding:0;
}
.profile_right_con input.email1:hover {
	background-position:0 100%;
}
.profile_select {
	float:left;
	width: 685px;
}
.profile_select label {
	color:#000000;
	float: left;
	font-family: 'Antic Slab';
	font-size: 16px;
	margin: 9px 0 0;
	width:132px;
}
.profile_select input {
	width:175px;
	float:left;
	margin: 0 10px 0 15px;
}
.top {
	margin-top:8px;
}
.profile_right_con.profile_select.top {
	margin-top:30px;
}
.profile_right_con input.password {
	float:left;
	margin: 0 0 15px 210px;
	width:168px;
	height:35px;
	background:url(../images/password.png) no-repeat;
	border:none;
	cursor:pointer;
	padding:0;
}
.profile_right_con input.password:hover {
	background-position:0 100%;
}
.profile_right_con p {
	color: #2391c9;
	float: left;
	font-family: 'Antic Slab';
	font-size: 14px;
	width: 500px;
}
.profile_right_con p:hover {
	color:#000;
	cursor:pointer;
}
.welcome_text {
	float:left;
	margin:10px 0 0 0px;
	width:85%;
}
.welcome_text p {
	float:left;
	font-family: 'Antic Slab';
	font-size:20px;
	color:#000000;
	padding:0 0 0 0px;
	text-transform:capitalize;
	width:100%;
	text-align:center;
}
.welcome_text p span {
	color:#91A136;
}
.profile_text {
	float:left;
	margin:0 0 0 15px;
}
.profile_text p {
	float:left;
	font-family: 'Antic Slab';
	font-size:18px;
	color:#000000;
	padding:0 0 0 0px;
	text-transform:capitalize;
	width:auto;
}
.profile_text font {
	float:left;
	font-family: 'Antic Slab';
	font-size:18px;
	color:#8c8b8b;
	padding:0 0 0 0px;
	text-transform:capitalize;
	clear:both;
}
.profile_text span {
	float:left;
	font-family: 'Antic Slab';
	font-size:18px;
	color:#000000;
	padding:0 0 0 0px;
	text-transform:capitalize;
	clear:both;
}
.profile_text span a {
	color:#3ab6fd;
}
.profile_text span a:hover {
	color:#000;
}
.frm {
	margin-left:30px !important;
}
.profile_right_con p span {
	color:#46b16a;
	font-size:24px;
}
.postdiv {
	float:left;
	width:100%;
}
.post_img {
	float:left;
	background:url(../images/icon1.png) no-repeat;
	width:48px;
	height:52px;
}
.postdiv h3 {
	float:left;
	font-family: 'Antic Slab';
	font-size:22px;
	color:#000000;
	font-weight:normal;
	padding:5px 0 0 20px;
	text-transform:capitalize;
}
.fbdiv {
	float:left;
	margin:0 20px 0 0;
}
.payment_img {
	float:left;
	background:url(../images/icon2.png) no-repeat;
	width:50px;
	height:41px;
}
.font {
	font-size:22px !important;
}
.user_signup_div {
	background: none repeat scroll 0 0 #E9E7E7;
	border: 1px solid #D7D7D7;
	float: left;
	height: 48px;
	margin: 12px 0 0 7px;
	width: 98%;
}
.user_signup_div h4 {
	color: #404040;
	float: left;
	font-family: 'Antic Slab';
	font-size: 20px;
	font-weight: normal;
	line-height: 44px;
	padding: 0 0 0 10px;
	width: 100%;
}
.social_connect_div {
	border: 1px solid #D8D8D8;
	float: left;
	margin: 30px 0;
	width: 100%;
}
.social_connect {
	float:left;
	width:100%;
	margin:20px 0 0 10px;
}
.social_connect p {
	color:#000000;
	float: left;
	font-family: 'Antic Slab';
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	padding:10px 0 0 0;
	width: 100%;
}
.social_connect ul {
	padding:0;
	margin:0;
	width:auto !important;
}
.social_connect ul li {
	float:left;
	list-style:none;
	margin:10px 15px 15px 0;
	background:none;
}
.social_connect ul li a {
	float:left;
	display:block;
}
.social_connect ul li a.facebookconnect {
	background:url(../images/connectwithfacebook.png) no-repeat;
	width:196px;
	height:39px;
}
.social_connect ul li a.facebookconnect:hover {
	background-position:0 100%;
}
.social_connect ul li a.twitterconnect {
	background:url(../images/connectwithtwitter.png) no-repeat;
	width:196px;
	height:39px;
}
.social_connect ul li a.twitterconnect:hover {
	background-position:0 100%;
}
.social_connect ul li a.googleconnect {
	background:url(../images/connectwithgoogle.png) no-repeat;
	width:196px;
	height:39px;
}
.social_connect ul li a.googleconnect:hover {
	background-position:0 100%;
}
.social_connect ul li a.linkedinconnect {
	background:url(../images/connectwithlinkedin.png) no-repeat;
	width:196px;
	height:39px;
}
.social_connect ul li a.linkedinconnect:hover {
	background-position:0 96%;
}
.social_connect ul li a.pinterestconnect {
	background:url(../images/connectwithpinterest.png) no-repeat;
	width:196px;
	height:39px;
}
.social_connect ul li a.pinterestconnect:hover {
	background-position:0 96%;
}
/*************** Create Campaign CSS *************************/




.campaign_profile_box {
	height:48px;
	float:left;
	width:100%;
	border:1px solid #d7d7d7;
	background:#e9e7e7;
	margin: 12px 0 0;
}
.campaign_profile_box p {
	color:#000000;
	float:left;
	font-size:18px;
	font-family: 'Antic Slab';
	margin: 14px 0 0 12px;
}
.input_main_div {
	float:left;
	width:100%;
	margin: 12px 0 0 1px;
}
.campaign_input_main{
	float:left;
	width:100%;
	margin:0 0 20px 0;
}
.campaign_input {
	float:left;
	width:50%;
	margin:0 0 0px 0;
}
.campaign_input p {
	float:left;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#000000;
	text-transform:capitalize;
}
.campaign_right {
	float:left;
	width:330px;
}
.campaign_right p {
	float:left;
	font-family: 'Antic Slab';
	font-size:11px;
	padding:2px 0 0 0;
	width:auto;
	clear:both;
	font-style:italic;
	color:#000000;
	text-transform:capitalize;
}
/*.profile_right_img {
	border: 1px solid #CCCCCC;
	float: left;
	height: 84px;
	padding: 5px 5px 8px 12px;
	width: 77px;
}*/
.campaign_right input {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	height: 20px;
	padding: 4px;
	width: 270px;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#272121;
}
.campaign_right input.compaign_browse
{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	height: 20px;
	padding: 4px;
	width: 270px;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#272121;
	margin: 8px 0 0;
}
.campaign_right input#campaign_img {
    margin-right: 0px;
    width: 120px !important;
}
.campaign_right select {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	height: 30px;
	padding: 3px;
	width: 280px;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#000000;
	line-height:21px;
}
.campaign_right select option {
	float:left;
	font-family: 'Antic Slab';
	font-size:14px;
	padding:2px 0 0 0;
	width:auto;
	clear:both;
	font-style:italic;
	color:#000000;
	text-transform:capitalize;
}
.campaign_right textarea {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	height: 100px;
	padding: 4px;
	width: 270px;
	resize:none;
	font-family: 'Antic Slab';
	font-size:14px;
}
.campaign_left {
	float:left;
	width:150px
}
.campaign_left label {
	float:left;
	font-family: 'Antic Slab';
	font-size:15px;
	color:#000000;
	text-transform:capitalize;
	margin: 8px 0 0;
}
.campaign_input label.datest {
	float:left;
	font-family: 'Antic Slab';
	font-size:15px;
	color:#000000;
	text-transform:capitalize;
	margin: 8px 0 0;
	 width: 80px;
}
.campaign_input input.hasDatepicker {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	height: 20px;
	padding: 4px;
	width:100px;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#272121;
}
.calender_icon{
	float:left;
	background:url(../images/calendericon.png) no-repeat;
	width:24px;
	height:25px;
	margin: 2px 0 0 10px;
}

.datepickr{
	float:left;
	width:auto;
	margin:0px 0px 0 150px;
}
.datepickr img, .datepicker img{
	float:left;
	margin:2px 0 0 10px;
} 


.datepicker{
	float:left;
	width:auto;
	margin:0px 0px 0 50px;
}

.campaign_input label.dateed {
	float:left;
	font-family: 'Antic Slab';
	font-size:15px;
	color:#000000;
	text-transform:capitalize;
	margin: 8px 0 0 0px;
	 width:70px;
}
.campaign_left img {
	height:84px;
	float:left;
	width:70px;
}
.for_camp {
	padding: 7px 0 0 20px !important;
	width: 70% !important;
}
.campaigndiv {
	float:left;
	width:100%;
}
.campaigndiv h3 {
	float:left;
	font-family: 'LatoBold';
	font-size:22px;
	color:#000000;
	font-weight:normal;
	padding:5px 0 0 20px;
	text-transform:capitalize;
}
.click_img {
	float:left;
	background:url(../images/click.png) no-repeat;
	width:28px;
	height:48px;
	margin: 0 0 0 15px;
}
.campaign_input input.next {
	background:url(../images/nextbutton.png) no-repeat;
	float:left;
	width:61px;
	height:35px;
	border:none;
	cursor:pointer;
	margin:0 0 0 350px;
}
.campaign_input input.next:hover {
	background-position:0 100%;
}

/*ravi
13-feb
coupon print button
*/
.campaign_input  #coupon_preview {
float: left;
margin: 20px 0 0 20px;
background: #91A136;
padding: 4px 20px;
font-size: 20px;
font-family: 'Antic Slab';
color: #fff;
border: 0px;
}

.campaign_input  #coupon_preview:hover {
	 	background:#808f2a;
  border:none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
/*ravi*/


.campaign_input input.createyourcampaign {
	float:left;
	cursor:pointer;
	margin:20px 0 0 50px;
     cursor:pointer;
     display:block;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Antic Slab';
    color:#fff;
    font-size:20px;
    text-align:center;
	background:#91A136;
}
.campaign_input input.createyourcampaign:hover {
	 	background:#808f2a;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}
.campaign_input input.relaunch {
	background:url(../images/relaunch.png) no-repeat;
	float:left;
	width:174px;
	height:35px;
	border:none;
	cursor:pointer;
	margin:0 0 0 150px;
}
.campaign_input input.relaunch:hover {
	background-position:0 100%;
}


.campaign_input  .ractive {
	float:left;
	cursor:pointer;
	margin:0 0 0 150px; 
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Antic Slab';
    color:#fff;
    font-size:20px;
    text-align:center;
	background:#91A136;
}
.campaign_input  .ractive:hover {
	background:#808f2a;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;

}

.campaign_input input.relaunch_active {
    cursor: pointer;
    float: left;
    margin: 0 0 0 150px;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Antic Slab';
    color:#fff;
    font-size:20px;
    text-align:center;
	background:#5d5d5d;
}

.campaign_input input.relaunch_active:hover {
		background:#434343;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;

}


.editcampaing{
	background:url(../images/editcam_act.png) no-repeat;
	float:right;
	width:99px;
	height:30px;
	border:none;
	cursor:pointer;
	margin:10px 0 0;
}

.campaigndiv .eactive {
	/*background:url(../images/editcampaign.png) no-repeat;*/
	float:left;
/*	width:99px;
	height:30px;
*/	border:none;
	cursor:pointer;
	/*margin:10px 0 0;*/
}


.launchcom{
	background:url(../images/relaunch_act.png) no-repeat;
	float:right;
	width:134px;
	height:30px;
	border:none;
	cursor:pointer;
	margin:10px 2px 0 0 ;
}

.campaigndiv .ractive{
	/*background:url(../images/relaunchcamp_small.png) no-repeat;*/
	float:left;
    /*width: 134px;*/
	/*height:30px;*/
	border:none;
	cursor:pointer;
	/*margin:10px 2px 0 0;*/
}






/*************** Create Campaign CSS *************************/

#on_medium {
	display:none;
}
select.m_select {
	background: none repeat scroll 0 0 #E9E7E7;
	border: 1px solid #CCCCCC;
	float: left;
	height: 76px;
	padding: 6px;
	width: 340px;
	color: #000000;
    font-family: 'Antic Slab';
    font-size: 14px;
}
select.mm_select {
	background: none repeat scroll 0 0 #E9E7E7;
	border: 1px solid #CCCCCC;
	float: left;
	height: 120px;
	padding: 6px;
	color: #000000;
    font-family: 'Antic Slab';
    font-size: 14px;
	width: 340px;
}


.media_label {
	float: left;
}
.media_label span {
	font-size:12px;
	padding: 10px 20px 0px 0px;
}
/*******tabs for setting tab in dash board*****/
.dashboardtabs .setting_tabs {
	float:left;
	width:950px;
	margin:20px 0 0 0px
}
.outborder {
	width:170px;
	height:46px;
	background: #dadada; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #dadada 0%, #f8f8f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dadada), color-stop(100%, #f8f8f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dadada 0%, #f8f8f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dadada 0%, #f8f8f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dadada 0%, #f8f8f8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dadada 0%, #f8f8f8 100%); /* W3C */
	position: relative;
	border-radius:40px;
}
.buttonwrapper {
	width: 166px;
	height:40px;
	position: absolute;
	top: 1px;
	left: 1px;
	background: #f2f1f1; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGZkZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f2f1f1 0%, #fdfdfd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f1f1), color-stop(100%, #fdfdfd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f1f1 0%, #fdfdfd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f1f1 0%, #fdfdfd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f1f1 0%, #fdfdfd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2f1f1 0%, #fdfdfd 100%); /* W3C */
	border-radius:40px;
}
.inborder {
	width: 162px;
	height:38px;
	position: absolute;
	top: 3px;
	left: 3px;
	background: #e5e5e5; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiY2JjYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #e5e5e5 0%, #bcbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #bcbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5e5e5 0%, #bcbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5e5e5 0%, #bcbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e5e5e5 0%, #bcbcbc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e5e5e5 0%, #bcbcbc 100%); /* W3C */
	border-radius:24px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
}
.inborder:active {
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.24);
}
.thebutton {
	display: block;
	width:160px;
	height: 36px;
	position: absolute;
	top: 1px;
	left: 1px;
	background: #fafafa; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%); /* W3C */
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
	border-radius:24px;
}
.thebutton > span {
	height: 30px;
	position: absolute;
	top:10px;
	left:0px;
	width:160px;
	text-align:center;
	background-position: 0 0;
	font-family: 'Antic Slab';
	font-size:16px;
}
.thebutton:hover > span {
	background-position: 0 -32px;
}
.dashboardtabs .setting_tabs ul {
	display:inline-block;
	list-style:none;
	width:950px;
}
.dashboardtabs .setting_tabs ul li {
	display: inline;
	font-size: 13px;
	list-style: none outside none;
	float:left;
	padding:0 20px 0 0;
}
.dashboardtabs .setting_tabs ul li a {
	color:#000000;
	font-family: 'Antic Slab';
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
.set_content_hide {
	display:none;
}
.set_content_show {
	display:block;
}
.heading_box {
	height:40px;
	float:left;
	width:100%;
	margin:10px 0 20px 0;
	border:1px solid #d7d7d7;
	background: #fafafa; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%); /* W3C */
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}
.heading_box p {
	color:#000000;
	float:left;
	font-size:18px;
	font-family: 'Antic Slab';
	margin: 10px 0 0px 12px;
	text-transform:capitalize;
}
/**ens setting  tabs*/


.contentdiv {
	float: right;
	width: 872px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	border-radius: 0 3px 3px 0;
	border: 1px solid #dadada;
}
ul.nav_div li {
	list-style:none;
}
.createimage {
	float: left;
	margin:-16px 0 0 -14px;
	position: relative;
}
ul.ul_select {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	max-height: 120px;
	overflow:auto;
	list-style: none outside none;
	padding: 8px 0 5px 8px;
	width:270px;
	color: #000000;
    font-family: 'Antic Slab';
    font-size: 14px;
}
ul.ul_select:hover {
	background: none repeat scroll 0 0 #f4f4f4;
	float: left;
	height: auto;
	list-style: none outside none;
	width: 270px;
}
ul.ul_select li.li_top {
	display:block;
	float: left;
	clear: both;
	list-style: none outside none;
     color: #000000;
    font-size: 14px;
	font-family: 'Antic Slab';
}
ul.ul_select li.li_bottom {
	display:none;
	float: left;
	clear: both;
	list-style: none outside none;
     color: #000000;
    font-size: 14px;
	line-height:23px;
	font-family: 'Antic Slab';
    
}
ul.ul_select li.li_bottom input{
	float:left;
	width:15px;
	height:15px;
	margin:4px 10px 0 0;
}
ul#campaign_media {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
ul#campaign_media li img {
	background: url("../images/facebook.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 39px;
	width: 196px;
}
ul#campaign_media li input {
    float: left;
    height: 15px;
    margin: 10px 5px 0 0;
    width: 15px;
	border:medium none;
}
ul#campaign_media li  {
    clear: both;
    float: left;
    list-style: none outside none;
    margin: 5px 0;
    color: #000000;
    font-size: 14px;
}
ul#campaign_media li span  {
    clear: both;
    float: left;
    list-style: none outside none;
    margin:-8px 0 0 35px;
    color: #000000;
    font-size: 9px;
	font-weight:bold;
}
.advertisertable {
	border: 1px solid #CCCCCC;
	float: left;
	overflow: auto;
	width: 958px;
}
.advertiser_table {
	float:left;
	width:958px;
}
.heading_div {
	float:left;
	width:100%;
	border-bottom:1px solid #f5f5f5;
}
.heading_div ul {
	float: left;
    margin: 0;
    padding: 0;
    width: 100%;
 background: #fafafa; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%); /* W3C */
}
.heading_div ul li {
	float:left;
	list-style:none;
	font-weight: bold;
	padding: 10px 5px;
	min-height:54px;
	border-right:1px solid #fff;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#272121;
	line-height:18px;
	text-align:center;
	background: #fafafa; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%); /* W3C */
}
.heading_div ul li:last-child{
 border:none;
}
.detail_div {
	float:left;
	width:100%;
}
.detail_div ul {
	padding:0;
    float:left;
	margin:0;
    width: 100%;
}
.detail_div ul li {
	float:left;
	list-style:none;
	padding: 10px 4px 10px 5px;
	border:1px solid #f5f5f5;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#272121;
	line-height:20px;
	text-align:center;
}
.detail_div ul li a{
	text-decoration:none;
	color:#91A136;
}
.detail_div ul li a:hover{
	color:#313131;
}
.w1 {
	width:220px;
}
.w2 {
	width:78px;
	text-align: center !important;
}
.w3 {
	width:47px;
}
.w4 {
	width:55px;
	text-align: center !important;
}
.w5 {
	width:70px;
	text-align: center !important;
}
.w6 {
	width:83px;
	text-align: center !important;
}
.w7 {
	width:51px;
	text-align: center !important;
}
.w8 {
	width:75px;
	text-align: center !important;
}
.w9 {
	width:90px;
	text-align: center !important;
}

#campaign_img_btn {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}

.footer_logo {
	float:left;
	margin:0 10px 0 0;
}

.linediv {
    background: url("../images/line.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 3px;
    margin: 5px 0 10px 35px;
    width: 940px;
}


.footerdiv{
		background:#91A136;
	float:left;
	width:100%;
	margin:30px 0 0px 0;
	border-top: 4px solid #E5E4E4;
}

.copyright_div {
    float: left;
	margin-top: 13px;
}


.footerinner{
	float:left;
	width:100%;
	margin:10px 0;
}
.copyright_div p {
    float: left;
      font-family: 'Antic Slab';
    font-size: 13px;
    line-height: 20px;
	color:#fff;
}

.copyright_div p a {
    color: #000000;
    text-decoration: none;
}

.term_condition_div {
    float: right;
    width: 332px;
	margin-top:15px;
}


.term_condition_div ul {
    margin: 0;
    padding: 0;
}


.term_condition_div ul li {
    color: #fff;
    float: left;
      font-family: 'Antic Slab';
    font-size: 13px;
    list-style: none outside none;
    margin: 0 5px;
}


.term_condition_div ul li a {
    color: #fff;
    text-decoration: none;
}


.term_condition_div ul li.no {
    border: medium none;
}


.term_condition_div ul li a:hover {
    color: #000;
}
.media_error{
    display:none;
    color: #91A136;
    font-size: 12px;

}


.tootip{
	background:url(../images/tooltipimg.png) no-repeat;
	float:left;
	margin:4px 10px 0;
	width:22px;
	height:22px;
}

.heading_box a.show_hide_pass{
    float:left;
	font-family: 'Antic Slab';
	font-size:15px;
	color:#000000;
	width:210px;
	text-transform:capitalize;
	margin:2px 0 0;
     text-decoration: none;
}
.heading_box a.show_hide_pass:hover{
    float:left;
	font-family: 'Antic Slab';
	font-size:15px;
	color:silver;
	width:210px;
	text-transform:capitalize;
	margin:2px 0 0;
}



.wrapper_main_adv {
	width :1000px;
	margin : 0 auto;
	overflow : hidden;
	position : relative;
}

.heading_box img{
    float:left;
	margin:4px 0 0 5px;
}

.alphaone{
	width:100% !important;
}
.alphatwo {
    margin-top: 12px;
    width: 60% !important;
}

.alphathree {
    width: 80% !important;
}

.dw_pdf{
	float:right;
	width:55px;
	height:60px;
	margin:0;
}
.dw_pdf .pdf_submit{
	background:url(../images/pdfdwld.png) no-repeat;
	width:55px;
	height:57px;
	display:block;
	margin-top: -15px;
    position: relative;
	border:none;
	cursor:pointer;
	}
.dw_pdf .pdf_submit:hover{
	background-position:0 100%;
}


.fromtodate{
	float:right;
	width:450px;
}

.from_to_date{
	float:left;
}




.fromdate input{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	height: 20px;
	padding: 4px;
	width:85px;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#272121;
}
.todate input{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #CCCCCC;
	float: left;
	height: 20px;
	padding: 4px;
	width:85px;
	font-family: 'Antic Slab';
	font-size:14px;
	color:#272121;
}
.cal_icon{
	float:left;
	background:url(../images/calendericon.png) no-repeat;
	width:24px;
	height:25px;
	margin: 2px 0 0 10px;
}

.fromdate{
	float:left;
	width:auto;
	margin:0px 30px 0 0;
}

.todate{
	float:left;
	width:auto;
	margin:0px 10px 0 0;
}

.fromdate label, .todate label {
	float:left;
	font-family: 'Antic Slab';
	font-size:15px;
	color:#000000;
	text-transform:capitalize;
	margin: 8px 10px 0 0px;
}

.todate img, .fromdate img{
	float:left;
	margin:2px 0 0 10px;
}



.campaign_input input.updatecampaign {

    cursor: pointer;
    float: left;
    margin: 0 0 0 10px;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Antic Slab';
    color:#fff;
    font-size:20px;
    text-align:center;
	background:#5d5d5d;
}

.campaign_input input.updatecampaign:hover {
		background:#434343;
     border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;

}



.campaign_input .eactive {
	float:left;
	cursor:pointer;
	margin:0 0 0 10px;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Antic Slab';
    color:#fff;
    font-size:20px;
    text-align:center;
	background:#91A136;
}




.campaign_input .eactive:hover {
		background:#808f2a;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;

}

.campaign_input input.cancelcampaignbutton {
	float:left;
	cursor:pointer;
	margin:0 0 0 10px;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px;
 	font-family: 'Antic Slab';
    color:#fff;
    font-size:20px;
    text-align:center;
	background:#91A136;
}
.campaign_input input.cancelcampaignbutton:hover {
	background:#808f2a;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;

}

p.preview a{
	background:url(../images/previewicon.png) no-repeat ;
	font-family: 'Antic Slab';
	font-size:15px;
	color:#91A136;
	text-decoration:none;
	float:left;
	position:relative;
	padding:0 0 0 20px;
	margin:-10px 0 0 10px;
}
p.preview a:hover{
	color:#404040;
}
#prof_pic_div #previewcanvascontainer {
  float: right;
    margin: -15px 80px 0 0;
    position: relative;

}


#previewcanvascontainer  {

    float: left;
    margin: 10px 10px 0 0;

}

p.fnt{
	font-family: 'Antic Slab';
	font-size:14px;
	float:left;
	width:100%;
	color:#000000;
	line-height:18px;
}
p.fnt a{
	font-size:15px;
	color:#91A136;
	text-decoration:none;
	padding:0px;
	margin:0px;
}
p.fnt a:hover{
	color:#313131;
}

.paypal_main{
float:left;
margin:20px 0;
width:100%;
}
.paypal_main .link_for
{
float:left;
width:100%;
margin: 115px 0 150px;
}
.paypal_main .link_for p
{
float:left;
text-align:center;
font-family: 'Antic Slab';
font-size:24px;
width:100%;
}
.paypal_main .link_for p  a
{
float:right;
text-decoration:none;
color:#91A136;
margin:0 0 0 10px;
font-size:16px;
}

.sucess_payment 
{
float:left;
width:100%;
}
.sucess_payment  p
{
float:left;
width:100%;
font-family: 'Antic Slab';
text-align:center;
font-size:18px;
padding:10px 0 10px 0;
}
.sucess_payment  span
{
float:left;
width:100%;
font-family: 'Antic Slab';
text-align:center;
font-size:18px;
padding:10px 0 10px 0;
}


/************************  direct payment on 9th april ****************************************/
.payment_con
{
	width: 300px;
	border:1px solid #12963E;
	padding:10px;
	float:left;
}
.name_value
{
	width:100%;
	float:left;
	margin:10px 0;
}
.name_value label
{
    color: #727272;
    float: left;
    font-family: 'Antic Slab';
    font-size: 14px;
    padding: 4px 0 0;
    width: 120px;
}
.name_value input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #91A136;
    color: #727272;
    float: left;
    font-family: 'Antic Slab';
    font-size: 14px;
    height: 30px;
    padding: 0 5px;
    width: 168px;
}
.name_value input:focus 
{
    border: 1px solid #91A136;
    box-shadow: 0 0 5px #91A136;
}
.name_value input:hover 
{
    border: 1px solid #31CA63;
}
.name_value select
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #91A136;
    color: #727272;
    float: left;
    font-family: 'Antic Slab';
    font-size: 14px;
    height: 32px;
    padding: 3px 5px;
    width: 180px;
}
.name_value select:focus 
{
    border: 1px solid #91A136;
    box-shadow: 0 0 5px #91A136;
}
.name_value select:hover 
{
    border: 1px solid #31CA63;
}
.expiry_input
{
	width:68px !important;
	margin:0 10px 0 0;
	float:left !important;
}
.name_value input.submit {
    background: url("../images/submitbutton.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 31px;
    margin: 15px 88px 0 0;
    outline: medium none;
    width: 96px;
}

.name_value input.submit:hover {
    background-position: 0 100%;
    border: medium none;
}

.howit_text{
	float:left;
	width:100%;
}

.howit_text p{
    color: #272121;
    float: left;
    font-family: 'Antic Slab';
    font-size: 13px;
    padding: 0 0 15px 0;
    width: 100%;
	line-height:22px;
}

.howit_text h2{
    color: #91A136;
    float: left;
    font-family: 'LatoBold';
    font-size:20px;
    padding: 0 0 15px 0;
    text-transform: capitalize;
    width: 100%;
}


span.small_txt{
    clear: both;
    color: #000000;
    float: left;
    font-family: 'Antic Slab';
    font-size: 11px;
    font-style: italic;
    padding: 8px 0 0 52px;
    text-transform: capitalize;
    width: auto;
}



.campaign_right  p.sign1 {
    font-size: 15px !important;
    margin: 7px -1px -9px -14px;
}

/**********For Pop Up**************/

/*.pop_message {
    background-color: #FFFFFF;
    background-image: url("../images/msg.jpg");
    background-position: 9px center;
    background-repeat: no-repeat;
    border: 2px solid #000000;
    color: #000000;
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 20px 20px 20px 55px;
	font-family: 'Antic Slab';
	box-shadow: 0 1px 3px #000000;
}*/
.pop_message {
    background-color: #FFFFFF;
    background-image: url("../images/msg.jpg");
    background-position: 9px center;
    background-repeat: no-repeat;
    border: 2px solid #000000;
    color: #000000;
    font-size: 16px;
 width:300px;
    padding: 20px 20px 20px 55px;
 font-family: 'Antic Slab';
 box-shadow: 0 1px 3px #000000;
}
.pop_message2 {
    background-color: #FFFFFF;
    background-image: url("../images/wr.png");
    background-position: 9px center;
    background-repeat: no-repeat;
    border: 2px solid #000000;
    color: #000000;
    font-size: 16px;
    padding: 20px 20px 20px 55px;
 width:300px;
 font-family: 'Antic Slab';
 box-shadow: 0 1px 3px #000000;
}


.dd_up {

margin: -105px 0px 0px 0px !important; 


}

/*  .campaign_input_main .campaign_right label.error {
    color: #91A136;
    font-size: 12px;
    left: 170px;
    margin: -17px 0 0;
    position: absolute;
    width: 300px;
}

.profile_right_con.alphatwo label.error{
    color: #91A136;
    font-size: 12px;
    margin: 20px 0 0 0px;
    position: absolute;
    width: 300px;
	left:20px;
}

*/

.campaign_input_main .campaign_right label.error:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #91A136 transparent transparent;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
   
}

.campaign_input_main .campaign_right  label.error {
   background-color: #91A136;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
    margin: -29px 0 0 -53px;
     min-width: 120px;
    padding: 4px 8px;
    position: absolute;
    z-index: 10;
}

#advertiser_form  label.error:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #91A136 transparent transparent;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
   
}

#advertiser_form label.error {
  background-color: #91A136;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
    margin: -29px 0 0 -15px;
    min-width: 147px;
    padding: 4px 8px;
    position: absolute;
    width: auto;
    z-index: 10;
}


.datepickr label.error:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #91A136 transparent transparent;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
   
}


.datepickr label.error {
   background-color: #91A136;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
margin: -29px 0 0 -53px;
    min-width: 101px;
    padding: 4px 8px;
    position: absolute;
    z-index: 10;
}



.city_div   label.cat_error:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #91A136 transparent transparent;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
   
}


.city_div label.cat_error {
   background-color: #91A136;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
margin: -29px 0 0 -53px;
    min-width: 101px;
    padding: 4px 8px;
    position: absolute;
    z-index: 10;
}



.city_error:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #91A136 transparent transparent;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
   
}



.city_error  {
   background-color: #91A136;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
margin: -29px 0 0 -53px;
    min-width: 101px;
    padding: 4px 8px;
    position: absolute;
    z-index: 10;
}






.alphatwo label.error:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #91A136 transparent transparent;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
   
}



.alphatwo  label.error {
   background-color: #91A136;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
    margin: -28px 0 0 -373px;
    min-width: 101px;
    padding: 4px 8px;
    position: absolute;
    z-index: 10;
}

.alphatwo  label.error {
    margin: -28px 0 0 -30px\0/IE8+9; /* IE8+9  */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .alphatwo label.error { margin: -28px 0 0 -27px; }
}
.social_ckeckbox label.media_error:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #91A136 transparent transparent;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
   
}


.social_ckeckbox  label.media_error {
   background-color: #91A136;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
   margin: -145px 0 0 194px;
    min-width: 101px;
    padding: 4px 8px;
    position: absolute;
    z-index: 10;
}



 #upload_adpic{
    float: left;
    margin: 0 0 20px 150px;
}



#discount_coupan_button {
    color: transparent;
    float: left;
    margin: 2px 0 0;
    cursor:pointer;
     display:block;
	width:auto;
	height:auto;
	border:none;
	outline:none;
    padding:4px 20px !important;
 	font-family: 'Antic Slab';
    color:#fff;
    font-size:16px;
    text-align:center;
	background:#91A136;
}
#discount_coupan_button:hover
{
    background:#808f2a;
  border:none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}

.promo {
    width: 121px !important;
}

/************1-8-2013 (amit: for tables)****************/

.heading_div ul li
{
    width:11%;
	text-align:center;
}

.heading_div ul li:first-child + li + li + li + li + li + li 
{
    width:4%;
}

.heading_div ul li:first-child + li + li + li + li
{
    width:7%;
	padding: 10px 7px;
}

.heading_div ul li:last-child
{
    width:11%;
    padding: 10px 6px;
}

.detail_div ul li
{
    width:11%;
}
.heading_div ul li:first-child + li + li,
.detail_div ul li:first-child + li + li  
{
    width:7%;
}
.detail_div ul li:first-child + li + li + li + li + li + li 
{
    width:4%;
}

.detail_div ul li:first-child + li + li + li + li
{
    width:7%;
	padding: 10px 7px;
}

.detail_div ul li:first-child + li + li + li + li + li + li + li {
    width: 8%;
}

.heading_div ul li:first-child + li + li + li + li + li + li + li {
    width: 8%;
}



.heading_div ul li:last-child,
.detail_div ul li:last-child 
{
    width:10%;
}
.launch_new
{
    float: right;
    height: 30px;
    margin: 10px 2px 0 0;
    width: 315px;
}

.launch_new input
{
    width:15px;
    height:15px;
    float:left;
    margin: 2px 0 0;
}


.launch_new label {
    color: #000000;
    float: left;
    font-family: 'Antic Slab';
    margin: 0 15px 0 5px;
}

/****************21-8-2013***********************/

.heading_div ul li:first-child {
    text-align: left;
    width: 26% !important;
}

.heading_div ul li:first-child + li
{
	width:9% !important;
}

.heading_div ul li:first-child + li + li + li
{
	width:7% !important;
}

.detail_div ul li:first-child {
    text-align: left;
    width: 26% !important;
}

.detail_div ul li:first-child + li
{
	width:9% !important;
}

.detail_div ul li:first-child + li + li + li
{
	width:7% !important;
}




/* CSS Changes for Create Campaign Page by Harjap Singh on: 12-9-13 */

.for_compaign_create{
 float:left;
 width:50%;
}

.for_compaign_Coupon {
    float: left;
    left: 20px;
    position: relative;
    width: 50%;
}

.for_compaign_create .campaign_input {
    float: left;
    margin: 0 0 20px;
    width: 100%;
}


.for_compaign_Coupon .campaign_input {
    float: left;
    margin: 0 0 20px;
    width: 100%;
}

.headingboxesfull{
 float:left;
 width:100%;
 margin:10px 0 20px 0;
}
.headingboxes {
	height:40px;
	float:left;
	width:100%;
	margin:0px 3.5% 0px 0;
	border:1px solid #d7d7d7;
	background: #fafafa; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%); /* W3C */
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}
.headingboxes p {
	color:#000000;
	float:left;
	font-size:18px;
	font-family: 'Antic Slab';
	margin: 10px 0 0px 12px;
	text-transform:capitalize;
}

.headingboxes input.head_radio{
    float: left;
    margin: 14px 0 0 10px;
}

.headingboxes1 {
	height:40px;
	float:left;
	width:48%;
	margin:0px 0% 0px 0;
	border:1px solid #d7d7d7;
	background: #fafafa; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%); /* W3C */
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}
.headingboxes1 p {
	color:#000000;
	float:left;
	font-size:18px;
	font-family: 'Antic Slab';
	margin: 10px 0 0px 12px;
	text-transform:capitalize;
}

.headingboxes1 input.head_radio{
    float: left;
    margin: 14px 0 0 10px;
}

/* CSS Changes for Create Campaign Page by Harjap Singh on: 12-9-13 */





















/********************TOGGLE SWITCH CSS*************************/


.container-narrow {
    height: auto;
    margin: 0 0 0 560px;
    max-width: 400px;
    padding: 0;
}

.example
{
    margin: 0 -3% 3em;
    padding: 3%;
}

.candy
{
    background-color: #2d3035;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
}

/* Bugfix for older Webkit, including mobile Webkit. Adapted from:
	 * http://css-tricks.com/webkit-sibling-bug/
	 */
	.switch, .toggle
{
    -webkit-animation: bugfix infinite 1s;
}

.toggle, .switch
{
    display: block;
    height: 30px;
}

.toggle
{
    margin-left: 100px;
    padding: 0;
    position: relative;
}

.toggle input
{
    position: absolute;
    opacity: 0;
    z-index: 5;
}

.switch *,  .toggle *
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.toggle.android p, .toggle.candy p
{
    color: #FFFFFF !important;
}

.candy p
{
    color: #333333;
    text-shadow: none;
}

.toggle label, .toggle p, .switch label
{
    line-height: 30px;
    vertical-align: middle;
}

.toggle p
{
    left: -100px;
    margin: 0;
    padding-right: 100px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.toggle p span
{
    display: block;
    font-family: 'Antic Slab';
    font-size: 14px;
    left: 0;
    margin-left: 100px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50%;
    z-index: 5;
    cursor: pointer;
}

.switch .slide-button, .toggle p span
{
    display: block;
}

.candy span
{
    color: #FFFFFF;
}

.candy .slide-button
{
    border: 1px solid #333;
    background-color: #70c66b;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image:         linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    border-radius: 3px;
}

.switch .slide-button,  .toggle .slide-button
{
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.toggle .slide-button
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
}

/* Don't hide the input from screen-readers and keyboard access
	 */
	
	
	
	.toggle p span:last-child
{
    left: 50%;
}

/* Shared */
	.toggle,  .switch
{
    display: block;
    height: 30px;
}
 .toggle input:checked ~ .slide-button {
 right: 50%;
}
	
	/* Outline the toggles when the inputs are focused */
	.toggle input:focus ~ .slide-button,  .switch input:focus + label {
 outline: 1px dotted #888;
}
 @-webkit-keyframes 
bugfix
{
from {
position: relative;
}

to
{
    position: relative;
}






