*{
    margin:0px;
    padding:0px;
}
body{
    color:#444444;
    font-size:13px;
    background: #f2f2f2;
    font-family:"Century Gothic", Helvetica, sans-serif;
}


#wrapper_slid {
    background-color: #F9F9F9;
    border: 2px solid #000000;
    box-shadow: 0 0 3px #000000;
    height: 100%;
    margin: 15px auto;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    text-align: center;
    width: 600px;
}

#steps{
    width:600px;
	/*height:320px;*/
    overflow:hidden;
}
.step{
    float:left;
    width:600px;
	/*height:320px;*/
}
#navigation{
    height:45px;
    background-color:#e9e9e9;
    border-top:1px solid #fff;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#navigation ul{
    list-style:none;
	float:left;
	margin-left:22px;
}
#navigation ul li{
	float:left;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    position:relative;
	margin:0px 2px;
}
#navigation ul li a{
    display:block;
    height:45px;
    background-color:#444;
    color:#777;
    outline:none;
    font-weight:bold;
    text-decoration:none;
    line-height:45px;
    padding:0px 20px;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
    background:#f0f0f0;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,240,240)),
        color-stop(0.55, rgb(227,227,227)),
        color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 9%,
        rgb(227,227,227) 55%,
        rgb(240,240,240) 78%
        )
}
#navigation ul li a:hover,
#navigation ul li.selected a{
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{
    background:transparent url(../images/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
#steps form fieldset{
    border:none;
	height:400px;
    padding-bottom:20px;
}

#steps form legend {
    background-color: #F0F0F0;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #D9D9D9;
    color: #000000;
	font-family: 'LatoBlackItalic';
    float: left;
    font-size: 40px;
    height: 49px;
    margin: -1px 0;
    padding: 5px 0 5px 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 590px;
}

#steps form p {

    clear: both;
    float: left;
    width: 100%;
}


#steps form p img {
    margin: 10px 20px;
    max-height: 100px;
    max-width: 150px;
    min-height: 40px;
    min-width: 150px;
}


#steps form p span{
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    min-height:185px;
    padding: 10px 0 0 10px;
    width: 97%;
	max-height:185px;
	line-height: 20px;
}

#steps form p label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form input:not([type=radio]),
#steps form textarea,
#steps form select{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    width: 200px;
    float:left;
}
#steps form input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}
#steps form p.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#steps form button {
	border:none;
	outline:none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #777;
    font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:22px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background:#4797ED;
}
#steps form button:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

#map_div .slidingclose {
    cursor: pointer;
    margin: -12px -15px 0 0;
    position: absolute;
    right: 0;
    width: 5%;
    z-index: 777;
}
#next
{
    background-color: #1EA149;
    float: left;
    height: 20px;
    padding: 10px 0;
    width: 100%;
	bottom:0px;

}
#next span .first
{
    color: #FFFFFF;
    float: right;
    font-family: LatoRegular;
    font-size: 14px;
    font-weight: bold;
    margin: 0 20px 0 0;
    width: auto;
}

#next span .last
{
    color: #FFFFFF;
    float: right;
    font-family: LatoRegular;
    font-size: 14px;
    font-weight: bold;
    margin: 0 20px 0 0;
    width: auto;
}




#next label img
{
float:left;
margin:0 3px 0 0;
}