


#dashboard_div {
	background:#fff;
	float:left;
	width:996px;
	border:2px solid #5484CA;
	margin:40px 0 0 0;
}
.dash_title {
	float:left;
	background:#5484CA;
	width:994px;
	height:42px;
	margin:1px 0 0 1px;
}
.dash_title p {
	font-family: 'Antic Slab';
	font-size:18px;
	color:#fff;
	font-weight:normal;
	float:left;
	padding:0 0 0 10px;
	line-height:42px;
}
.dashboard_area {
	float:left;
	width:1000px;
	margin: 0 0 0 5px;
}
.dashboard_area_left {
    float: left;
    width:100%;
}
.headingback_div {
	float:left;
	width:209px;
	background:url(../images/headingback.png) repeat-x;
	height:53px;
}
.headingback_div h3 {
	font-family: 'Antic Slab';
	font-size:22px;
	color:#fff;
	font-weight:normal;
	float:left;
	padding:0 0 0 10px;
	line-height:52px;
}
.dash_listdiv {
	float:left;
	margin:0px;
	clear: both;
}
.mrgn_top {
	margin-top:30px !important;
}
.dashboardtabscontent {
	float: left;
	margin: 0px 0 0px 0px;
	min-height: 500px;
	position:relative;
	width:900px;
}


.dashboard_detail {
    float: left;
    padding: 10px 0px 0 0;
    width: 890px;
}

#profile_div, #s_media_div, #e_f_div, #cp_div{
    float: left;
    /*height: 780px;*/
    height: auto;
    overflow-x: -moz-hidden-unscrollable;
    width: 853px;
}
.fixeddiv {
    float: left;
    margin: 0 0 0 50px;
    width: 900px;
}
