*{
    margin:0px;
    padding:0px;
}
body{
    color:#444444;
    font-size:13px;
    background: #f2f2f2;
    font-family: 'Antic Slab';
}
#content{
    margin:15px auto;
    text-align:center;
    width:600px;
    position:relative;
    height:100%;
}
#wrapper_slid{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
	padding: 10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    width: 640px;
    overflow:hidden;
	height:540px;
}
#steps{
  
    width:600px;
	/*height:320px;*/
    overflow:hidden;
}
.step{
/* background: #F3F0F0;*/
  float:left;
    width:640px;
	/*height:320px;*/
}
	#navigation{
		float:left;
		width:100%;
		margin: 10px 0 20px;
	}
	#navigation ul{
		padding:0;
		margin: 0 0 0 15px;
	}
	
	#navigation ul li
	{
		float:left;
		list-style:none;
		width:104px;
		padding: 0 10px;
	}
	
	#navigation ul li a
	{
		float:left;
		display:block;
		text-decoration:none;
	}
	
	#navigation ul li a span
	{
		color: #0A0A0A;
		float: left;
		 font-family: 'Antic Slab';
		font-size: 16px;
		margin: 2px 0 0;
		text-align: center;
		width:85%;
    }
	#navigation ul li a span:hover
	{
		color:#8cc540;
	}
span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{
    background:transparent url(../images/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
#steps form fieldset{
    border:none;
	 
}
#steps form legend{
    text-align:left;
    background-color:#f0f0f0;
    color:#666;
    font-size:24px;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
    float:left;
    width:590px;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;
}
#steps form .optiondiv{
    float:left;
    margin-top:20px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:150px;
    padding:10px;
    margin-left:85px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
#steps form .optiondiv img{
	float:left;
	margin:0 0 5px 20px;
}
#steps form .optiondiv input.rad{
	float:left;
	width:15px;
	height:10px;
	margin:5px 0 0 70px;
	clear:both;
}
#steps form .optiondiv label{
    width:150px;
    float:left;
    text-align:center;
    margin-right:15px;
    line-height:26px;
    color:#666;
	padding:0 0 10px 0;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form .direct{
    float:left;
    clear:both;
    margin:15px 0px 0;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:400px;
    padding:10px;
    margin-left:90px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
#steps form .direct p{
	background:none;
	border-radius:none;
	box-shadow:none;
	border:none;
	margin:0 !important; 
	float:left;
	font-family: 'Antic Slab';
	font-size:14px;
	line-height:20px;
	color:#313131;
	padding:5px;
}
#steps form .direct p a{
	text-decoration:underline;
	color:#09C;
}
#steps form .direct p a:hover{
	text-decoration:none;
	color:#313131;
}

#steps form p{
    float:left;
    clear:both;
    margin:0px;

    width:620px;
    padding:10px;

}
#steps form p label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form input:not([type=radio]),
#steps form textarea,
#steps form select{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    width: 200px;
    float:left;
}
#steps form input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}
#steps form p.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#steps form button {
	border:none;
	outline:none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #777;
    font-weight:bold;
    font-family: 'Antic Slab';
    font-size:22px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background:#4797ED;
}
#steps form button:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}


	.steps_heading
	{
		width:100%;
		float:left;
		margin: 10px 0 0;
	}
	.steps_heading p
	{
		color: #8cc540;
		float: left;
		 font-family: 'Antic Slab';
		font-size: 18px;
		line-height: 36px;
		margin: 0;
		text-align:left;
		width: 100%;
    }
	.steps_heading p img
	{
		float:left;
		width:36px;
		height:38px;
		margin: 0 10px 0 0;
	}
	.steps_heading span
	{
		float:left;
		width:100%;
		font-family: 'Antic Slab';
		font-style:italic;
		font-size:15px;
		color: #0A0A0A;
		margin: 0px 0 0 20px;
		 text-align: left;
	}
	
	.list_details
	{
		float:left;
		width:96%;
		margin: 10px 0 0 20px;
		min-height: 220px;
	}
	
	.list_details ul
	{
		margin: 0 0 0 20px;
		padding:0;
	}
	
	.list_details ul li
	{
		float:left;
		font-family: 'Antic Slab';
		color:#0a0a0a;
		font-size:13px;
		list-style:decimal;
		line-height:28px;
		text-align:left;
		width:96%;
	}
	.list_details ul li a{
		color:#8cc540;
	}
	.list_details ul li a:hover{
		color:#000;
	}
	.list_details ul li ul
	{
		margin: 0 0 0 20px;
		padding:0;
	}
	
	.list_details ul li ul li
	{
		float:left;
		font-family: 'Antic Slab';
		color:#0a0a0a;
		font-size:13px;
		width:100%;
		list-style: lower-alpha outside none;
	}
	

.close {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0;
    width: 102%;
}
	.close p
	{
		float:left;
		width:100%;
		text-align:center;
		font-family: 'Antic Slab';
		font-size:22px;
		text-decoration:underline;
		color:#8cc540;
		cursor:pointer;
		margin: 0;
	}

	.list_details p{float:left;
	margin:5px 0;
	}
	
.slidingclose {
  cursor:pointer;
  height:23px;
  margin:-10px -14px 0 0;

  right:0;
  width:22px;
  z-index:777;
}


.pop-up-div-top{
		float:left;
		width:100%;
		background:#f3f0f0;
		padding:5px 0;
		margin:0 0 10px 0;
	}
	
	.pop-up-div-top p{
		font-family: 'Antic Slab';
		color:#313131;
		font-size:16px;
		line-height:30px;
		padding:0 0 0 10px;
		margin:0;
		float:left;
	}
	.pop-up-div-top p img {
    height: 27px;
    margin: 3px 0 0;
    }
	.rightdiv{
		float:right;
		width:auto;
		margin:0 10px 0 0;
	}
	.rightdiv input.chkcls{
		float:left;
		width:15px;
		height:15px;
		margin:8px 0 0 0;
	}
	.rightdiv p{
		font-family: 'Antic Slab';
		color:#313131;
		font-size:14px;
		line-height:30px;
		padding:0 25px 0 5px;
		margin:0;
		float:left;
	}
	
	.rightdiv img{
		float:left;
		margin:3px 0 0 0;
	}


	.newpop{
	 background-color: #FFFFFF !important;

	 }

	 .image-div-div{float:right;
	margin:-65px 0;
	padding:0;
	position:relative;
	}

	 