* {
	padding:0;
	margin:0
}
body {
	font:12px;
 font-family: 'Antic Slab';
}
#wrapper {
	width:750px;
	padding:25px;
	margin:0 auto
}
#leftcolumn {
	float:left;
	width:225px
}
#rightcolumn {
	float:left;
	width:525px
}
.dropdown {
	display:block;
	position:relative
}
.dropdown dt {
	width:186px;
	border:1px solid #91A136;
	padding:8px;
	font-size:15px;
	font-family: 'Antic Slab';
	cursor:pointer;
	background:url(../images/header.gif)
}
.dropdown .upperdd {
}
.dropdown dt:hover {
	background:url(../images/header_over.gif)
}
.dropdown dd {
	position:absolute;
	top:0;
	overflow:hidden;
	width:210px;
	display:none;
	opacity:0
}
.dropdown ul {
    border-bottom: medium none;
    height: auto;
    list-style: none outside none;
    max-height: 140px;
    min-height: 50px;
    overflow-x: hidden;
    padding-bottom: 0 !important;
    width: 200px !important;
}
.dropdown li {
	display:inline
	font-family: 'Antic Slab';
}
.dropdown a, .dropdown a:active, .dropdown a:visited {
	display:block;
	padding:5px;
	color:#333;
	text-decoration:none;
	background:#f5f5f5;
	width:198px
	font-family: 'Antic Slab';
}
.dropdown a:hover {
	background:#d9e1e4;
	color:#000
}
.dropdown .underline {
}
.dropdown dd ul li a {
	line-height:22px;
	margin-bottom:0px;
	width:381px;
	border: 1px solid #91A136;
	padding:0;
 font-size:14px;
}
.dropdown dd ul li a input{
    float: left;
    height: 15px;
    margin: 5px 10px 0;
    width: 15px;
	padding:0;
	border:medium none;
}

.dropdown dt#2-ddcontent ul{
	position:relative;
	margin:-40px 0 0 0;
	}
