
.carousel_wrapper {
    float: left;
    margin: 0 auto;
    padding: 10px;
    width: 830px;
}
.list_carousel {
	margin: 0 0 30px 0px;
	width: 100%px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	width:260px;
	height: 200px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel li img{
	text-align: center;
	background-color: #eee;
	border:2px solid #1EA149;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel li p{
	color: #fff;
    float: left;
    font-family: 'Antic Slab';
    font-size: 18px;
    margin: -37px 0 0 8px;
    opacity: 0.8;
    padding: 5px;
    position: relative;
    width: 92.5%;
    z-index: 777;
	background:url(../images/carousel_images/caption.png) repeat;
}
.list_carousel li p span{
	font-size:18px;
	color: #1EA149;
}
.list_carousel li .socials{
	float:left;
	clear:both;
	margin:10px 0 0 75px;
}
.list_carousel li .socials a{
	float:left;
	display:block;
	margin:0 0px 0 0;
}
.list_carousel li .socials a img{
	border:none;
}
.list_carousel li h4{
    color: #1EA149;
    float: left;
    font-family: 'Antic Slab';
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 5px;
    text-transform: uppercase;
    width: 100%;
	padding:0;
	margin:0;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 10px;
}
.next {
	float: right;
	margin-right: 10px;
}
.pager {
	float: left;
	width: 100%;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
	font-family: 'Antic Slab';
	font-size:22px;
	color:#000;
}
.pager a.selected {
	text-decoration: underline;
	color:#1EA149;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.image_carousel {
	padding: 15px 0 15px 40px;
	position: relative;
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(../images/carousel_images/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top:120px;
}
a.prev {
	left: -35px;
	background-position: 0 0;
}
a.prev:hover {
	background-position: 0 -50px;
}
a.prev.disabled {
	background-position: 0 -100px !important;
}
a.next {
	right: -30px;
	background-position: -50px 0;
}
a.next:hover {
	background-position: -50px -50px;
}
a.next.disabled {
	background-position: -50px -100px !important;
}
a.prev.disabled, a.next.disabled {
	cursor: default;
}
a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(../images/carousel_images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}


.caroufredsel_wrapper{
	height:250px !important;
}