html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	background:#000 url(../images/mainback.gif) no-repeat top center;
	width:100%;
	margin:0px;
	padding:0px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#1c1c1c;
}
html {
	padding:0px !important;
	margin:0px !important;
}
.clr {
	clear:both;
}
* {
	padding:0;
	margin:0;
}
.flt {
	float:left !important;
}
.flr {
	float:right !important;
	margin:0px !important;
}
#main_wrapper {
	width:100%;
	margin:0 auto;
	height:100%;
}
#work_container {
	width:1100px !important;
	margin:0 auto !important;
}
#header1{
	float:left;
	width:1100px;
	height:auto;
	margin:0 auto;
}
#header {
	float:left;
	width:1100px;
	height:auto;
	margin: 0px 0 30px;
}
.logo {
	float:left;
	margin: 30px 0 0;
}
.logo a {
	background:url(../images/logo.png) no-repeat;
	float:left;
	width:420px;
	height:67px;
	margin:0px;
}
.headertopdiv {
	float:right;
	width:380px;
	margin:10px 0px 0 0
}
.headertopdiv ul {
	padding:0px;
	margin:0px;
}
.headertopdiv ul li {
	background:url(../images/buttonback.png) repeat-x;
	border:1px solid #0b3900;
	float:left;
	width:auto;
	height:24px;
	list-style:none;
	margin:0 0 0 10px;
}
#logout{
	float: left;
    height: 24px;
    list-style: none outside none;
    margin: 0 0 0 10px;
    width: auto;
}
.headertopdiv ul li img {
	margin:2px 3px 0 0;
	float:left;
}
.headertopdiv ul li a {
	float:left;
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:22px;
	width:auto;
	padding:0 5px;
}
.headertopdiv ul li a:hover, .headertopdiv ul li a.active {
	color:#000;
}

.logout_div{
	float:right;
	margin:25px 0 0 0;
}
.logoutbtn{
	list-style:none;
	width:auto;
	height:24px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	font-size:14px;
	text-align:center;
	line-height:24px;
	padding:0 2px;
	margin:1px 5px;
	float:left;
}
.logoutbtn a{
	text-decoration:none;
	padding:0 10px 0 5px;
}
].logoutbtn a:hover{
	color:#212121;
}
.logoutbtn a img{
	float:left;
	margin:6px 0 0 5px;
}

.header_right{
	float:right;
	width:350px;
}
#body_content {
	float:left;
	width:100%;
}
#leftdiv {
	background: none repeat scroll 0 0 #FEFDFD;
	float: left;
	height: auto;
	padding: 5px;
	width: 750px;
}
#leftdiv_admin{
	background: none repeat scroll 0 0 #FEFDFD;
	float: left;
	height: auto;
	padding: 5px;
	width: 1100px;
	min-height:480px;
	margin: 0 0 30px;
}
.left_topdiv {
	float:left;
	width:100%;
	height:30px;
	background: -webkit-gradient(linear, left top, left bottom, from(#0e4c00), to(#339933)) !important;
	background: -moz-linear-gradient(top, #0e4c00, #339933) !important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933)" !important;
}
.left_buttons {
	float:left;
}
.left_buttons ul {
	padding:0px;
	margin:0px;
}
.left_buttons ul li {
	background:url(../images/buttonback.png) repeat-x;
	border:1px solid #0b3900;
	list-style:none;
	width:auto;
	height:24px;
	ffont-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	font-size:12px;
	text-align:center;
	line-height:24px;
	padding:0 2px;
	margin:1px 5px;
	float:left;
}
.left_buttons ul li a {
	float:left;
	text-align:center;
	color:#fff;
	padding:0 5px;
	display:block;
	text-decoration:none;
}
.left_buttons ul li a:hover {
	color:#252525;
}
.select_area {
	float:left;
	width:740px;
	margin:10px 0 0 0;
}
.selectdiv {
	float:left;
	width:355px;
	margin-top:1px;
}

.selectdiv select {
	float:left;
	width:100px;
	height:27px;
	padding:2px;
	border:1px solid #0e4c00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#212121;
}
.icondiv {
	float: right;
	margin: 0 25px;
	width: 0px;
}
.icondiv img {
	text-align:center;
	margin:3px 0 0 0;
}
.left_topdiv2 {
	float:left;
	background:#fff;
	width:100%;
	height:26px;
}
.left_buttons2 {
	float:left;
	width:250px;
}
.left_buttons2 ul {
	padding:0px;
	margin:0px;
}
.left_buttons2 ul li {
	list-style:none;
	/*background:#a1a1a1;*/
	width:70px;
	height:20px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	font-size:12px;
	text-align:center;
	line-height:20px;
	padding:0 2px;
	margin:10px 0px 0 5px;
	float:left;
}
.left_buttons2 ul li a {
	float:left;
	text-align:center;
	color:#fff;
	width:71px;
	display:block;
	text-decoration:none;
}
.left_buttons2 ul li a:hover {
	color:#252525;
}
.left_title {
	float:left;
	width:330px;
}
.left_title p {
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	font-size:14px;
	text-align:center;
	float:left;
	width:330px;
	line-height:30px;
}
.right_buttons {
	float:right;
	width:110px;
}
.right_buttons ul {
	padding:0px;
	margin:0px;
}
.right_buttons ul li {
	list-style:none;
	background:#a1a1a1;
	width:44px;
	height:20px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	font-size:12px;
	text-align:center;
	line-height:20px;
	padding:0 2px;
	float:left;
	margin:3px 0 0 5px;
}
.right_buttons ul li a {
	float:left;
	color:#fff;
	width:44px;
	text-align:center;
	display:block;
	text-decoration:none;
}
.right_buttons ul li a:hover {
	color:#252525;
}
#rightdiv {
	float:left;
	height:auto;
	/*margin-bottom:20px;
	width:272px;*/
	margin: 0 0 20px 20px;
	width: 320px;
}
.rightdiv {
	background: none repeat scroll 0 0 #FEFDFD;
	height: auto;
	margin-bottom: 20px;
	min-height: 430px;
	padding: 5px;
	width: 310px;
}
.right_topdiv {
	float:left;
	width:100%;
	height:30px;
	background: -webkit-gradient(linear, left top, left bottom, from(#0e4c00), to(#339933)) !important;
	background: -moz-linear-gradient(top, #0e4c00, #339933) !important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933)" !important;
}
#right_topdiv_title {
	float:left;
	width:272px;
}
#right_topdiv_title p {
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	font-size:14px;
	text-align:center;
	float:left;
	width:330px;
	line-height:30px;
}
#login_div {
	float: left;
	height: 230px;
	margin:50px 0 0 400px;
	width: 360px;
}
.login_div_top {
	float: left;
	height:30px;
	width: 355px;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#0e4c00), to(#339933)) !important;
	background: -moz-linear-gradient(top, #0e4c00, #339933) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933)" !important;
}
.login_area {
	background: none repeat scroll 0 0 #FEFDFD;
	float: left;
	padding:20px 0 0 30px;
	width: 325px;
}
.login_detail {
	float:left;
	width:100%;
	margin:0 0 10px 0;
}
.login_detail label {
	color: #5F5F60;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 0 0 5px;
	width: 100%;
}
.login_detail input {
	background: none repeat scroll 0 0 #FEFDFD;
	border: 1px solid #CCCCCC;
	color: #5F5F60;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	height:30px;
	padding: 0 7px;
	width: 300px;
}
.login_detail input:hover{
	border:1px solid #339933;
}
.login_detail input:focus{
	border:1px solid #0e4c00;
	-webkit-box-shadow:0 0 5px #339933;
	-moz-box-shadow:0 0 5px #339933;
	box-shadow:0 0 5px #339933;
}
.login_detail input.loginbtn {
	float:left;
	background:url(../images/buttonback.png) repeat-x;
	border:2px solid #0b3900;
	width:85px;
	height:26px;
	cursor:pointer;
	margin:0px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	line-height:22px;
	font-size:14px;
	text-align:center;
}
.login_detail input.loginbtn:hover{
	color:#212121;
}
.login_detail p {
	font-family:Tahoma, Geneva, sans-serif;
	color:#5f5f60;
	font-size:12px;
	float:left;
	font-weight:bold;
}
.login_detail p a {
	color:#120ded;
	text-decoration:none;
}
.login_div_bottom {
	float:left;
	width:355px;
	height:30px;
	background: -webkit-gradient(linear, left top, left bottom, from(#0e4c00), to(#339933)) !important;
	background: -moz-linear-gradient(top, #0e4c00, #339933) !important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933)" !important;
}
.login_div_bottom p {
	font-family:Tahoma, Geneva, sans-serif;
	color:#ffffff;
	font-size:13px;
	float:left;
	padding:5px 0 0 15px;
}
.login_div_bottom p a {
	color:#ffffff;
	text-decoration:none;
}
/****************************** Contractor Div  CSS *********************************************/


.contractordiv {
	float:left;
	width:560px;
	margin: 0 auto 0 200px;
}
.contract_top {
	float:left;
	width:560px;
	height:24px;
	background:#898989;
}
.contract_top p {
	font-family:Tahoma, Geneva, sans-serif;
	color:#ffffff;
	font-size:13px;
	float:left;
	padding:5px 0 0 15px;
}
.crossdiv {
	float:right;
	margin:3px 5px 0 0;
}
.crossdiv img {
}
.contract_detaildiv {
	float:left;
	width:559px;
	height:auto;
	background:#fff;
	min-height:390px;
	border:1px solid #ccc;
}
.cancelbtndiv {
	float:right;
	margin:12px 28px 25px 0;
}
.cancelbtndiv input.cancelbtn {
	background:url(../images/cancelbtn.png) no-repeat;
	width:50px;
	height:18px;
	border:none;
	cursor:pointer;
}
.input_field_div {
	float:left;
	width:485px;
	margin:3px 0 3px 20px;
}
.input_field_div .labeldiv {
	float:left;
	width:122px;
	margin:0 10px 0 0;
}
.input_field_div .labeldiv label {
	color: #5F5F60;
	float: right;
	font-family:"Myriad Pro";
	font-size: 11px;
	font-weight: bold;
}
.width_1 {
	width:530px;
}
.input_field_div label {
	color: #0e4c00;
	float: RIGHT;
	font-family:"Myriad Pro";
	font-size: 11px;
	font-weight: bold;
}
.input_field_div label a {
	color: #0e4c00;
	float: RIGHT;
	font-family:"Myriad Pro";
	font-size: 11px;
	text-decoration:none;
	font-weight: bold;
	padding-left:5px;
}
.input_field_div .labeldiv input.addbtn {
	float:right;
	background:url(../images/addbtn.png) no-repeat;
	width:42px;
	height:23px;
	border:none;
	cursor:pointer;
}
.input_field_div .labeldiv input.editbtn {
	float:right;
	background:url(../images/editbtn.png) no-repeat;
	width:42px;
	height:23px;
	border:none;
	cursor:pointer;
}
.input_field_div .labeldiv input.deletebtn {
	float:right;
	background:url(../images/deletebtn.png) no-repeat;
	width:49px;
	height:23px;
	border:none;
	cursor:pointer;
}
.input_field_div input {
	float:right;
	width:340px;
	height:18px;
	border:1px solid #ccc;
	background:#fff;
	font-family:"Myriad Pro";
	color:#5f5f60;
	font-size:13px;
	padding:0 5px;
}
.input_field_div select {
	float:right;
	width:350px;
	height:18px;
	border:1px solid #ccc;
	background:#fff;
	font-family:"Myriad Pro";
	color:#5f5f60;
	font-size:13px;
}
.input_field_div textarea {
	float:right;
	width:340px;
	height:50px;
	border:1px solid #ccc;
	background:#fff;
	font-family:"Myriad Pro";
	color:#5f5f60;
	font-size:13px;
	padding:5px;
	resize:none;
}
/****************************** Contractor Div  CSS *********************************************/



/****************************** Create New Job Div  CSS *********************************************/
.createnewjob_div {
	float:left;
	width:477px;
	margin: 0 auto 0 250px;
}
.createnewjob_top {
	float:left;
	width:477px;
	height:24px;
	background:#898989;
}
.createnewjob_top p {
	font-family:"Myriad Pro";
	color:#ffffff;
	font-size:13px;
	float:left;
	padding:5px 0 0 15px;
}
createnewjob_top .crossdiv {
	float:right;
	margin:3px 5px 0 0;
}
.crossdiv img {
}
.createnewjob_detaildiv {
	float:left;
	width:476px;
	height:auto;
	background:#fff;
	min-height:320px;
	border:1px solid #ccc;
}
.from_top_1 {
	margin-top:40px !important;
}
.from_left_1 {
	margin-left:50px !important;
}
.padd_fromtop {
	padding:8px 0 0 0 !important;
	font-size:14px !important;
}
.createnewjob_field_div {
	float:left;
	width:415px;
	margin:3px 0 3px 30px;
}
.createnewjob_field_div .label_div {
	float:left;
	width:130px;
	margin:0 10px 0 0;
}
.createnewjob_field_div .label_div label {
	color: #5F5F60;
	float: right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.createnewjob_field_div input.postjobbtn {
	float:left;
	background:url(../images/postjobbtn.png) no-repeat;
	width:80px;
	height:33px;
	border:none;
	cursor:pointer;
}
.createnewjob_field_div input {
	float:left;
	width:235px;
	height:18px;
	border:1px solid #ccc;
	background:#fff;
	font-family:"Myriad Pro";
	color:#5f5f60;
	font-size:13px;
	padding:0 5px;
}
.grey_line {
	float:left;
	margin:15px 0 15px 30px;
	background:#ccc;
	width:411px;
	height:3px;
}
.createnewjob_field_div input.createprofilebtn {
	float:left;
	background:url(../images/createprofilebtn.png) no-repeat;
	width:135px;
	height:33px;
	border:none;
	cursor:pointer;
}
.createnewjob_field_div input.applybtn {
	float:left;
	background:url(../images/applybtn.png) no-repeat;
	width:67px;
	height:37px;
	border:none;
	cursor:pointer;
}
/****************************** Create New Job Div  CSS *********************************************/



.listjob_div {
	float:left;
	width:814px;
	margin: 0 auto 0 85px;
}
.listjob_div_top {
	float:left;
	width:814px;
	height:40px;
	background:#898989;
}
.listjob_div_top p {
	font-family:"Myriad Pro";
	color:#ffffff;
	font-size:22px;
	float:left;
	padding:5px 0 0 15px;
}
.listjob_div_detaildiv {
	float:left;
	width:814px;
	height:auto;
	background:#fff;
	padding-bottom:25px;
	border:1px solid #ccc;
}
.listjobdiv {
	width:660px;
	float:left;
	margin:25px 0 0 70px;
}
list_topdiv {
	float:left;
	width:100%;
}
.list_topdiv select {
	float:left;
	width:148px;
	height:18px;
	border:1px solid #ccc;
	background:#fff;
	font-family:"Myriad Pro";
	color:#5f5f60;
	font-size:13px;
	margin:10px 20px 0 0;
}
.list_topdiv input.listsearchbtn {
	float:left;
	background:url(../images/listsearchbtn.png) no-repeat;
	width:81px;
	height:33px;
	border:none;
	cursor:pointer;
}
.list_table {
	border:1px solid #ccc;
	float:left;
	width:670px;
	margin:25px 0 0 0;
}
.list_table_top {
	float:left;
	width:100%;
	background:#abc1a6;
	height:22px;
}
.table_one {
	float:left;
	width:400px;
}
.table_one p {
	font-family:"Myriad Pro";
	color:#000;
	font-size:13px;
	float:left;
	line-height:22PX;
}
.table_two {
	float:left;
	width:90px;
}
.table_two p {
	font-family:"Myriad Pro";
	color:#000;
	font-size:13px;
	float:left;
	line-height:22PX;
}
.bkgcolor {
	background:#ebebeb;
}
.table_body {
	float:left;
	width:100%;
}
.table_row {
	float:left;
	width:100%;
}
.tableone {
	float:left;
	width:400px;
	height:37px;
}
.tableone p {
	font-family:"Myriad Pro";
	color:#5f5f60;
	font-size:13px;
	float:left;
	line-height:37PX;
}
.tabletwo {
	float:left;
	width:90px;
	height:37px;
}
.tabletwo p {
	font-family:"Myriad Pro";
	color:#5f5f60;
	font-size:13px;
	float:left;
	line-height:37PX;
}
.workorderdetail_div {
	float:left;
	width:377px;
	margin: 0 auto 0 300px;
}
.workorderdetail_div_top {
	float:left;
	width:377px;
	height:24px;
	background:#898989;
}
.workorderdetail_div_top p {
	font-family:"Myriad Pro";
	color:#ffffff;
	font-size:13px;
	float:left;
	padding:5px 0 0 15px;
}
workorderdetail_div_top .crossdiv {
	float:right;
	margin:3px 5px 0 0;
}
.crossdiv img {
}
.workorderdetail_div_top_detail {
	float:left;
	width:377px;
	height:auto;
	background:#fff;
	min-height:370px;
	border:1px solid #ccc;
}
.main_detial {
	float:left;
	margin:35px 0 0 65px;
	width:250px;
}
.main_detial .leftdiv {
	float:left;
	width:85px;
}
.main_detial .leftdiv p {
	font-family:"Myriad Pro";
	color:#5f5f60;
	font-size:13px;
	float:right;
	padding:0 0 10px 0;
	clear: both;
}
.main_detial .rightdiv {
	float: left;
	width: 155px;
}
.main_detial .rightdiv p {
	clear: both;
	color: #000000;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 15px;
	padding: 0 0 8px 10px;
}
/********************** 3-10-2012 ****************************/

.my_accountdiv {
	float:left;
	width:100%;
	background:#fff;
	margin-bottom:40px;
}
.my_accountdiv .myaccount {
	background-color:none !important;
	font: normal 13px verdana;
	padding:8px !important;
	float:left;
	width:250px;
	border: 1px solid #ccc;
}
.my_accountdiv .myaccount p {
	background:none repeat scroll 0 0 #0E4C00;
	width:240px;
	height:24px;
	font-family:"Myriad Pro";
	font-size:14px;
	font-weight:normal;
	line-height:24px;
	color:#fff;
	float:left;
	padding:0 0 0 10px;
}
.my_accountdiv .myaccount ul.myaccount_list {
	float:left;
	width:240px;
	margin:10px 0;
	padding:0px;
}
.my_accountdiv .myaccount ul.myaccount_list li {
	list-style:disc;
	line-height:22px;
	font-family:"Myriad Pro";
	font-size:14px;
	color:#313131;
	width:100%;
	margin:0 0 0 25px;
}
.my_accountdiv .myaccount ul.myaccount_list li a {
	display:block;
	padding:0 0 0 10px;
	text-decoration:none;
	color:#313131;
}
.my_accountdiv .myaccount ul.myaccount_list li a:hover {
	color:#0E4C00;
}
.admin_div {
	float:left;
	width:739px;
	padding:8px !important;
}
.admin_div h3 {
	background:none repeat scroll 0 0 #0E4C00;
	width:695px;
	height:24px;
	font-family:"Myriad Pro";
	font-size:16px !important;
	font-weight:normal;
	line-height:24px;
	color:#fff;
	float:left;
	padding:0 0 0 10px;
	margin:0 0 10px 10px !important;
	border:none;
}
.admin_div h3 a {
	text-decoration:none;
	color:#fff;
}
.admin_div p {
	width:100%;
	line-height:22px;
	font-family:"Myriad Pro";
	font-size:13px;
	font-weight:normal;
	line-height:24px;
	color:#313131;
	/*float:left;*/
	padding:10px 0;
}
.wrap {
	float:left;
}
.wrap h2 {
	background:none repeat scroll 0 0 #0E4C00;
	width:700px;
	height:30px;
	font-family:"Myriad Pro";
	font-size:18px;
	font-weight:normal;
	line-height:30px;
	color:#fff;
	float:left;
	padding:0 0 0 10px;
	margin-bottom: 10px;
}
.wrap h2 a {
	text-decoration:none;
}
.red_error {
	float:left;
	width:100%;
	padding:10px 0;
	font-family:"Myriad Pro";
	font-size:14px;
	font-weight:normal;
	color:#f00;
}
#overflow {
	width:742px;
	height:auto;
	overflow:auto
}
#overflow td {
	border:1px solid #ccc !important;
}
#overflow_notification {
	/*width:742px;
	height:auto;*/
}
#overflow_notification td{
	/*width:742px;
	height:auto;*/
}
.wrap .wp-list-table.widefat {
	float:left;
	width:100%;
}
.wrap .wp-list-table.widefat thead {
	float:left;
	background:none repeat scroll 0 0 #0E4C00;
	width:700px;
	height:24px;
	padding:5px;
}
.wrap .wp-list-table.widefat thead tr {
	float:left;
	width:700px;
}
.wrap .wp-list-table.widefat thead tr th {
	color: #FFFFFF;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	text-align: left;
	width: 100px;
}
.wrap .wp-list-table.widefat thead tr th.e_mail {
	width:300px;
}
.wrap .wp-list-table.widefat tbody {
	float:left;
	width:700px;
	margin-top:20px;
	border:1px solid #ccc;
	padding:5px;
	background:#fff;
}
.wrap .wp-list-table.widefat tbody tr {
	/*border: 1px dotted #0E4C00;*/
    float: left;
	margin: 3px 0;
	width: 700px;
}
.wrap .wp-list-table.widefat tbody tr td {
	/*color: #000;*/
	  color: black;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	/*text-align: left;*/
    width: 98px;
}
.wrap .wp-list-table.widefat tbody tr td a {
	text-decoration:none;
	color: #313131;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	text-align: left;
}
.wrap .wp-list-table.widefat tbody tr td a:hover {
	color:#0E4C00;
}
.e_mail {
	width:300px !important;
}
.accountsetting {
	float:left;
	width:712px;
	padding:8px !important;
}
.titlehdr {
	background:none repeat scroll 0 0 #0E4C00;
	width:702px;
	height:24px !important;
	font-family:"Myriad Pro" !important;
	font-size:18px !important;
	font-weight:normal;
	line-height:24px;
	color:#fff !important;
	float:left;
	padding:0 0 0 10px !important;
	margin:10px 0 10px 10px !important;
	border:none !important;
}
p.accountsetting {
	color: #313131;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	padding: 10px;
	width: 708px;
}
#myform {
	float: left;
	margin: 0 0 10px 10px;
	width: 710px;
}
#myform table.forms {
	float: left;
	width: 690px;
}
#myform table.forms tbody {
	float: left;
	width: 690px;
}
#myform table.forms tbody tr {
	float: left;
	width: 690px;
	margin:5px 0;
}
#myform table.forms tbody tr td {
	float:left;
	color: #313131;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	padding-right: 20px;
	width:260px;
	vertical-align:top;
}
#myform table.forms tbody tr td input {
	width:250px;
	height:24px;
	border:1px solid #ccc;
	background:none;
	padding:0 5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:right;
}
.ch_ec_k_{
	float:left !important;
	width:15px !important;
}
#myform table.forms tbody tr td input:hover{
	border:1px solid #339933 !important;
}
#myform table.forms tbody tr td input:focus{
	border:1px solid #0e4c00 !important;
	-webkit-box-shadow:0 0 5px #339933 !important;
	-moz-box-shadow:0 0 5px #339933 !important;
	box-shadow:0 0 5px #339933 !important;
}
#myform table.forms tbody tr td select {
	width:250px;
	height:24px;
	border:1px solid #ccc;
	background:none;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:right;
}
#myform table.forms tbody tr td input#doSave {
	float:left;
	background:url("../images/buttonback.png") repeat-x scroll 0 0 transparent;
    border: 2px solid #00162B;
	width:85px;
	height:26px;
	color: #fff;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align:center;
	cursor:pointer;
	text-transform:uppercase;
	border: 2px solid #00162B !important;
}
#pform {
	float: right;
	margin: 0 0px 20px 0px;
	width: 700px;
	border:1px solid #ccc;
	padding-bottom:20px;
}
.titlehdr1 {
	background:none repeat scroll 0 0 #0E4C00;
	width:702px;
	height:24px !important;
	font-family:"Myriad Pro" !important;
	font-size:18px !important;
	font-weight:normal;
	line-height:24px;
	color:#fff !important;
	float:right;
	padding:0 0 0 10px !important;
	margin:10px 7px 10px 0px !important;
	border:none !important;
}
p.accountsetting1 {
	color: #313131;
	float: right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	padding: 10px;
	width: 688px;
}
#pform table {
	float:left;
	width:680px;
	margin:20px 0 0 10px;
}
#pform table tbody {
	float:left;
	width:100%;
}
#pform table tbody tr {
	float:left;
	width:100%;
	margin:10px 0;
}
#pform table tbody tr td {
	float:left;
	color: #313131;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	padding-right: 20px;
	width:260px;
}
#pform table tbody tr td input {
	width:250px;
	height:24px;
	border:1px solid #ccc;
	background:none;
	padding:0 5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:right;
}
#pform table tbody tr td input#doUpdate {
	float:left;
	background:url(../images/login_button.png) no-repeat;
	width:85px;
	height:30px;
	color: #fff;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 15px;
	text-transform:uppercase;
	font-weight: normal;
	line-height: 30px;
	text-align:center;
	border:none;
	cursor:pointer;
}
table.my_account_ {
	float: left;
	margin: 0 0 0 10px;
	width: 720px;
}
table.my_account_ tbody {
	float: left;
	width: 700px;
}
table.my_account_ tbody tr {
	float: left;
	width: 700px;
	margin:5px 0;
}
table.my_account_ tbody tr td {
	float:left;
	color: #313131;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	padding-right: 20px;
	width:260px;
}
table.my_account_ tbody tr td form {
	float: left;
	width: 700px;
	margin:5px 0;
}
table.my_account_ tbody tr td form p {
	float: left;
	width: 80%;
	margin:5px 0;
}
table.my_account_ tbody tr td input {
	width:210px;
	height:24px;
	border:1px solid #ccc;
	background:none;
	padding:0 5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:left;
}
table.my_account_ tbody tr td input:hover{
	border:1px solid #339933;
}
table.my_account_ tbody tr td input:focus{
	border:1px solid #0e4c00;
	-webkit-box-shadow:0 0 5px #339933;
	-moz-box-shadow:0 0 5px #339933;
	box-shadow:0 0 5px #339933;
}
table.my_account_ tbody tr td input#send {
	float:left;
	width:15px;
	margin-right:10px;
}
table.my_account_ tbody tr td select {
	width:222px;
	height:24px;
	border:1px solid #ccc;
	background:none;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:left;
}
table.my_account_ tbody tr td input#doSubmit {
	float:left;
	    background:url("../images/buttonback.png") repeat-x scroll 0 0 transparent;
    border: 2px solid #00162B !important;

	width:85px;
	height:25px;
	color: #fff;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	text-align:center;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
}
table.my_account_ tbody tr td input#doSubmit:hover{
	color:#000;
}
.myaccount_admin {
	background-color:none !important;
	font: normal 13px verdana;
	padding:8px !important;
	float:left;
	width:712px;
	border: 1px solid #ccc;
}
.table_div_admin {
	background: #E0E0E0;
	border: 1px solid #CCCCCC;
	padding:5px;
	float:left;
	width:710px;
	margin:20px 0;
}
.table_div_admin form input#q {
	background: none repeat scroll 0 0 #FEFDFD;
	border: 1px solid #CCCCCC;
	color: #5F5F60;
	float: none;
	font-family:"Myriad Pro";
	font-size: 13px;
	height:22px;
	padding: 0 7px;
	width: 250px;
}
.admin_table_detail_div {
	background: none repeat scroll 0 0 #E0E0E0;
	border: 1px solid #CCCCCC;
	float: left;
	padding: 5px;
	width: 700px;
}
.admin_table_detail_div form p {
	float:left;
	margin:5px 0 !important;
}
.admin_table_detail_div form p input#doApprove {
	background: none repeat scroll 0 0 #0E4C00;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Myriad Pro;
	font-size: 12px;
}
.admin_table_detail_div form p input#doBan {
	background: none repeat scroll 0 0 #0E4C00;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Myriad Pro;
	font-size: 12px;
}
.admin_table_detail_div form p input#doUnban {
	background: none repeat scroll 0 0 #0E4C00;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Myriad Pro;
	font-size: 12px;
}
.admin_table_detail_div table {
	float: left;
	width: 700px;
}
.admin_table_detail_div table tbody {
	float: left;
	width: 700px;
}
.admin_table_detail_div table tbody tr {
	float: left;
	width: 700px;
	margin:5px 0;
}
.admin_table_detail_div table tbody tr.green_backg {
	background:none repeat scroll 0 0 #0E4C00;
}
.admin_table_detail_div table tbody tr.green_backg td {
	color:#fff !important;
}
.admin_table_detail_div table tbody tr td {
	color: #212121;
	float: none;
	font-family:"Myriad Pro";
	font-size: 13px;
	height:22px;
	line-height: 22px;
	padding:0 10px 0 0;
}
.bottom_tableof_admin {
	float:left;
	width:700px;
}
.bottom_tableof_admin h2 {
	color: #0E4C00;
	float: left;
	font-family:"Myriad Pro";
	font-size: 18px;
	height:22px;
	line-height: 22px;
}
.three_buttons {
	float:left !important;
	clear:both;
	border:1px dotted #0E4C00;
}
.three_buttons a {
	color: #0E4C00;
	float: left;
	padding: 0 25px;
	text-decoration: none;
}
.three_buttons a:hover {
	color: #212121;
}
#doSearch2 {
	float:left;
	background:url(../images/login_button.png) no-repeat;
	width:85px;
	height:30px;
	color: #fff;
	float: none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	text-align:center;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
}
table#forms_create_job {
	float: left;
	width: 690px;
}
table#forms_create_job tbody {
	float: left;
	width: 690px;
}
table#forms_create_job tbody tr {
	float: left;
	width: 690px;
	margin:5px 0;
}
table#forms_create_job tbody tr td {
	float:left;
	color: #313131;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	padding-right: 20px;
	width:260px;
	vertical-align:top;
}
table#forms_create_job tbody tr td input {
	width:250px;
	height:24px;
	border:1px solid #ccc;
	background:none;
	padding:0 5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:right;
}
table#forms_create_job tbody tr td select {
	width:250px;
	height:24px;
	border:1px solid #ccc;
	background:none;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:right;
}
table#forms_create_job tbody tr td textarea {
	width:250px;
	height:75px;
	border:1px solid #ccc;
	background:none;
	padding:5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:right;
	resize:none;
}
table#forms_create_job tbody tr td input#job {
	float:left;
	background:url(../images/login_button.png) no-repeat;
	width:85px;
	height:30px;
	color: #fff;
	float: none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	text-align:center;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
	margin-left:290px;
}
form#regForm {
	float:left;
	width:700px;
}
form#regForm table.forms {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	font: 12px arial, verdana;
	padding: 3px;
}
form#regForm table.forms tbody {
	float: left;
	width: 690px;
}
form#regForm table.forms tbody tr {
	float: left;
	width: 690px;
	margin:5px 0;
}
form#regForm table.forms tbody tr td {
	float:left;
	color: #313131;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	padding-right: 20px;
	width:450px;
}
form#regForm table.forms tbody tr td input {
	width:205px;
	height:24px;
	border:1px solid #ccc;
	background:none;
	padding:0 5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:left;
}
form#regForm table.forms tbody tr td select {
	width:250px;
	height:24px;
	border:1px solid #ccc;
	background:none;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:right;
}
form#regForm table.forms tbody tr td.selectinvitation select {
	width:250px;
	height: 70px;
	border:1px solid #ccc;
	background:none;
	padding:2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:right;
}
form#regForm table.forms tbody tr td textarea {
	width:250px;
	height:75px;
	border:1px solid #ccc;
	background:none;
	padding:5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #313131;
	float:right;
	resize:none;
}
form#regForm table.forms tbody tr td input#doRegister {
	float:left;
	background:url(../images/login_button.png) no-repeat;
	width:85px;
	height:30px;
	color: #fff;
	float: none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	text-align:center;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
	margin-left:40px;
}
#notification {
	float:left !important;
	background:url(../images/login_button.png) no-repeat !important;
	width:85px !important;
	height:30px !important;
	color: #fff !important;
	float: left !important;
	font-family: "Myriad Pro" !important;
	font-size: 14px !important;
	font-weight: normal !important;
	line-height: 30px !important;
	text-align:center !important;
	border:none!important;
	cursor:pointer !important;
	text-transform:uppercase !important;
	margin-left:0px !important;
}
/********calendar style section*********/
.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}
.ds_tbl {
	background-color: #FFF;
}
.ds_head {
	background-color: #0E4C00;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}
.ds_subhead {
	background-color: #ffffff;
	color: #0E4C00;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}
.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
}
.ds_cell:hover {
	background-color: #F3F3F3;
} /* This hover code won't work for IE */
/********calendar style section*********/


.wrap .wp-list-table.widefat1 {
	float:left;
	width:1500px;
}
.wrap .wp-list-table.widefat1 thead {
	float:left;
	width:100%;
	height:24px;
	padding:5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#0e4c00), to(#339933)) !important;
	background: -moz-linear-gradient(top, #0e4c00, #339933) !important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933)" !important;
}
.wrap .wp-list-table.widefat1 thead tr {
	float:left;
	width:100%;
}
.wrap .wp-list-table.widefat1 thead tr th {
	color: #FFFFFF;
	/*float: left;*/
    font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
	text-align: left;
	width: 103px;
	padding:0 0 0 5px;
}
.wrap .wp-list-table.widefat1 thead tr th.e_mail {
	width:300px;
}
.wrap .wp-list-table.widefat1 tbody {
	float:left;
	width:100%;
	margin-top:20px;
	border:1px solid #ccc;
	padding:5px;
	background:#fff;
	min-height: 235px;
}
.wrap .wp-list-table.widefat1 tbody tr {
	border:none;
    float: left;
	width:100%;
}	
.wrap .wp-list-table.widefat1 tbody tr:hover{
	background:#ccc;
}	
.wrap .wp-list-table.widefat1 tbody tr td {
	color: black;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 26px;
	width: 98px;
	padding:0 0 0 5px;
}
.wrap .wp-list-table.widefat1 tbody tr td.width input{
	width:20px !important;
}
.wrap .wp-list-table.widefat1 tbody tr td a {
	text-decoration:none;
	color: #313131;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	text-align: left;
}
.wrap .wp-list-table.widefat1 tbody tr td a:hover {
	color:#0E4C00;
}
.width{
	width:20px !important;
}
.width_1a {
	width:120px !important;
}
.width_2 {
	width:35px !important;
}
.width_2d {
	width:20px !important;
}
.width_3 {
	width:100px !important;
}
.width_4 {
	width:120px !important;
}
.width_4a {
	width:110px !important;
	border:1px solid #CCCCCC !important;
}
.width_4b {
	width:110px !important;
	border:none !important;
}
.width_5 {
	width:250px !important;
}

.width_6 {
	width:150px !important;
}

.width_7 {
	width:90px !important;
}
#order_detail{
	padding:30px 0 0 20px;
}
#order_detail label {
    color: gray;
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 26px;
    padding: 0 10px 0 0;
    text-align: right;
    width: 110px !important;
}
#order_detail span {
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    width: 120px;
}


.work_order_details_bar {
   /* background: -webkit-gradient(linear, left top, left bottom, from(#0e4c00), to(#339933)) !important;
	background: -moz-linear-gradient(top, #0e4c00, #339933) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933)" !important;*/
	float: left;
    height: 30px;
    margin-top: 5px;
    width: 114%;
	background-color:#CCCCCC;
}
.work_order_details_bar .left_buttons {
	float:left;
}
.work_order_details_bar .left_buttons  a {
	
	list-style:none;
	width:auto;
	height:24px;
	font-family:"Myriad Pro";
	color:#fff;
	font-size:12px;
	text-align:center;
	line-height:24px;
	padding:3px 5px;
	float:left;
}
.work_order_details_bar .left_buttons  a img{
	width:25px;
	height:25px;
}
#Show_note_detail {
    
    float: left;    
    margin-top: 10px;
    width: 310px;
	font-family:"Myriad Pro";
	color:#1c1c1c;
	height:auto;
	
}
#note_detail{
	float: left;
    height: 300px;
    overflow-x: hidden;
    width: 300px;
}
.main{
	float: left;
    padding: 10px 0 0;
    width: 275px;
}
.main span{
	font-family:Tahoma, Geneva, sans-serif !important;
	font-size:13px;
	color:#313131;
}
.main span a img{
	float: right;
    height: 18px;
    padding: 0;
    width: 25px;
}
.mainb{
	font-family:Tahoma, Geneva, sans-serif !important;
	margin-top: 10px;
	text-align:justify;
	font-size:12px;
	line-height:18px;
	color:#313131;
}
table {
	margin:auto;
}
.msg{
	color:red;
}
.left_buttons p{ 
	color: #FFFFFF;
    float: left;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.wrap .wp-list-table.widefat1 tbody tr td input{
	background:#003B00;
	/*background:gray;*/
	width:120px;
	height:26px;
	border:1px solid #00162b;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:white;
}
.wrap .wp-list-table.widefat1 tbody tr td input:hover{
	
	color:white;
}
.admin_div_ {
    width: 100% !important;
}
.tabs ul li {
    background: url("../images/buttonback.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #0B3900;
    color: #FFFFFF;
    float: left;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    list-style: none outside none;
    margin: 1px;
    padding: 0 2px;
    text-align: center;
    width: auto;
}
.tabs ul li a {
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
}
.tabs ul li a:hover {
	color:#252525;
}


.star_{
	float:right;
	color:#f00;
}

.label_wid {
    float: left !important;
    font-family: Tahoma,Geneva,sans-serif !important;
    margin: 0 20px 0 0 !important;
    width: 150px !important;
}
#slides{
	float:left;
	height:330px;
}

#slides a.prev {
	background:#e8e8e8;
	padding:5px;
	border:1px solid #030;	
    float: left;
    margin: 0px 0 0 300px;
    position: relative;
	text-decoration:none;
	color:#212121;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	cursor:pointer;
}

#slides a.next {
	background:#e8e8e8;
	padding:5px;
	border:1px solid #030;
    float: left;
    margin: -29px 0 0 341px;
    position: relative;
	text-decoration:none;
	color:#212121;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	cursor:pointer;
	
}


#slides a.next:hover, #slides a.prev:hover{
	color:#fff;
	background:#329732;
}

#tab-3 .tab_inputdiv textarea{
	  width: 310px !important;
}

.pending_assignment {
	float:left;
	width:250px;
	margin:10px;
}

.pending_assignment select {
	float:left;
	width:200px;
	height:27px;
	padding:1px;
	border:1px solid #0e4c00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#212121;
}
.pending_assignment .icondiv {
	float: right;
	margin: -2px 25px;
	width: 0px;
}
.assign_icon
 {
	float:left;
	background:url("../images/buttonback.png") repeat-x scroll 0 0 transparent;
    border: 2px solid #00162B;
	width:80px;
	height:26px;
	color: #fff;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align:center;
	cursor:pointer;
	text-transform:uppercase;
	border: 2px solid #00162B !important;
 }
#edit_user {
    height: auto;
  /*  overflow: auto;*/
    width: 1096px;
}

.wrap .wp-list-table.widefat2 {
    float: left;
    width: 1070px;
}
.wrap .wp-list-table.widefat2 thead {
	float:left;
	width:100%;
	height:24px;
	padding:5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#0e4c00), to(#339933)) !important;
	background: -moz-linear-gradient(top, #0e4c00, #339933) !important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0e4c00, endColorstr=#339933)" !important;
}
.wrap .wp-list-table.widefat2 thead tr {
	float:left;
	width:100%;
}
.wrap .wp-list-table.widefat2 thead tr th {
	color: #FFFFFF;
	/*float: left;*/
    font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
	text-align: left;
	width: 100px;
	padding:0 0 0 5px;
}
.wrap .wp-list-table.widefat2 thead tr th.e_mail {
	width:300px;
}
.wrap .wp-list-table.widefat2 tbody {
	float:left;
	width:100%;
	margin-top:20px;
	border:1px solid #ccc;
	padding:5px;
	background:#fff;
	min-height: 235px;
}
.wrap .wp-list-table.widefat2 tbody tr {
	border:1px dotted #0F4E01;
    float: left;
	width:100%;
	margin:1px 0;
}	
.wrap .wp-list-table.widefat2 tbody tr:hover{
	background:#ccc;
}	
.wrap .wp-list-table.widefat2 tbody tr td {
	color: black;
	float: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 26px;
	width: 98px;
	padding:0 0 0 5px;
}
.wrap .wp-list-table.widefat2 tbody tr td a {
	text-decoration:none;
	color: #313131;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	text-align: left;
}
.wrap .wp-list-table.widefat2 tbody tr td a:hover {
	color:#0E4C00;
}

.add_note_div1 label.error{
	color:red !important;
	font-size:12px !important;
	font-family:Tahoma, Geneva, sans-serif !important;
}
.edit_icon{
	margin:3px 0 0 0 ;
	float:left;
}

/*#hideslider{}
#hideslider ul.slides {
    float: left;
	width:100%;
}
#hideslider ul.slides li {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    float: left !important;
    width: 100% !important;
}
#hideslider ul.slides li p {
    color: #313131 !important;
    float: left;
    font-family: Tahoma,Geneva,sans-serif !important;
    font-size: 14px;
    line-height: 20px !important;
    text-align: left !important;
    width:100% !important;
}*/

ul.flex-direction-nav{}


ul.flex-direction-nav li{}

ul.flex-direction-nav li a{}






