.forbody {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.fornews {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3C80EF; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.button A {
	BORDER-TOP-WIDTH: 1px; BACKGROUND-POSITION: 3px 9px; DISPLAY: block; FONT-WEIGHT: bolder; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #000000; BACKGROUND-IMAGE: url(otherpics/small_dot1.gif); TEXT-TRANSFORM: capitalize; WIDTH: 100%; COLOR: #000000; BORDER-TOP-COLOR: #000000; TEXT-INDENT: 10pt; LINE-HEIGHT: 21px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 0.03em; BACKGROUND-COLOR: #6E9FEB; BORDER-RIGHT-WIDTH: 1px; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #000000
}
.button A:hover {
	BORDER-LEFT-COLOR: #006600; BACKGROUND-IMAGE: url(otherpics/small_dot2.gif); BORDER-BOTTOM-COLOR: #006600; COLOR: #000000; BORDER-TOP-COLOR: #006600; TEXT-INDENT: 20px; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #006600
}
.fortitle1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; TEXT-TRANSFORM: capitalize; COLOR: #5e0000; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 0.2em
}
.forbody {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; MARGIN: 3px; COLOR: #333333; LINE-HEIGHT: 24px; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.forbody2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #333333; LINE-HEIGHT: 24px; PADDING-TOP: 2px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.subtitles {
	BACKGROUND-POSITION: 2px 50%; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(for_subtitle.gif); COLOR: #990000; TEXT-INDENT: 22pt; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fcd8b7
}
.redbod {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 0.02em
}
