/* 
Document   : admin-styles
Created on : Jan 28, 2013, 4:02:37 PM
Author     : 
Description:
Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.error_login{
    display:block;
    color: red;
}
.hide_content{
    display:none;
    margin: 5px 0 0 30px;
    width: 220px;
}

.display_content{
    display: block;
}
#content-table-inner{}

#content-table-inner table tbody tr{}
#content-table-inner table tbody tr td.left_td_2{
    float: left;

}
#content-table-inner table tbody tr td.left_td_1{
    width: 300px;
    margin-right: 0px;
    padding-right: 0px;
}

.admin_main_div{
    float:left;
    width:100%;
    margin:20px 0;
}

.shadowleft{
    float:left;
    width:20px;
    display:none;
}


.shadowright{
    float:right;
    width:20px;
    display:none;
}

.admin_left_div{
    float:left;
    width:300px;
}

.admin_right_div{
    float:left;
    width:750px;
}



#related-act-top {
    float: left;
    margin: 0 0 0px 0px;
    width: 280px;
    border-radius:5px 5px 0 0;

    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;
}


#related-act-top h2 {
    color: #FFFFFF;
    float: left;
    font-size:20px;
    font-weight:normal;
    font-family: 'LatoBold';
    line-height: 40px;
    margin: 0;
    padding: 0 0 0 15px;
    text-transform:uppercase;
}



#admin-content-top {
    float: left;
    margin: 0 0 0px 0px;
    width:850px;
    border-radius:5px 5px 0 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;
}


#admin-content-top h2 {
    color: #FFFFFF;
    float: left;
    font-size:20px;
    font-weight:normal;
    font-family: 'LatoBold';
    line-height: 40px;
    margin: 0;
    padding: 0 0 0 15px;
    text-transform:uppercase;
}

/************************************************
STYLES FOR USER AND ADVERTISER LISTING
************************************************/

.edit_inner label{
    color:#000000;
    float:left;
    clear:both;
    width:400px;

}


.edit_inner label span.s_data{
    font-weight:bold;
    padding: 5px 10px 5px 20px;
    margin-top:10px;

}

.edit_inner label span.s_val{
    float:right;
    padding: 5px 10px 5px 20px;


}

.updated {
    display : none;
    color : green;
}

.edit_inner select {
    width:185px;
    height:30px;
}
.edit_inner input[type=text] {
    width:186px;
    height:30px;
}
.edit_inner textarea {
    width:186px;
}

.edit_inner input[type=submit] {
    width:100px;
    height:30px;
}

.error{
    float:right;
}
.required{
    float:right;
}

label.error{
    color: red;
    float: left;
    left: 202px;
    position: relative;
    top: -27px;
}




/*******************************
CHANGE PASSWORD
*******************************/

.changepass_inner {
    float: left;
    padding: 20px 0;
    width: 100%;
}
#user_edit_inner, #advt_edit_inner {
    float: left;
    padding: 20px 0;
    width: 100%;
}
#user_edit_inner form, #advt_edit_inner form{
    float:left;
    width:100%;
}
.changepass_inner label{
    clear: both;
    color: #000000;
    float: left;
    margin: 0 0 0 100px;
    padding: 5px 0 5px 10px;
    width: 60%;
    height:auto;
}

#user_edit_inner form label, #advt_edit_inner form label, #advt_edit_inner.advt_dtl label, #user_edit_inner.usr_dtl label{
    clear: both;
    color: #000000;
    float: left;
   margin: 0 0 0 100px;
    padding: 0 0 0 10px;
    width:85%;
    height:auto;
}

.changepass_inner span,  #user_edit_inner form label span, #advt_edit_inner form label span, #advt_edit_inner.advt_dtl label span,
#user_edit_inner.usr_dtl label span{
    font-weight:normal;
    float:left;
    font-family: 'LatoRegular';
    font-size:14px;
    float:left;
    width:150px;
}

.changepass_inner input[type=text], input[type=password], #user_edit_inner form label span input, #advt_edit_inner form label span input {
    float:left;
    width:250px;
    height:34px;
    font-family: 'LatoRegular';
    font-size:14px;
    padding:0 5px;
    border:1px solid #1da149;
    line-height:34px;

}

#advt_edit_inner.advt_dtl label span p,#user_edit_inner.usr_dtl label span p{
    float:left;
    width:300px;
    /*height:34px;*/
    /*background-color:#967668;*/
    font-family: 'LatoRegular';
    font-size:14px;
    padding:0 5px;
    border:0px solid #1da149;
    line-height:34px;

}
#advt_edit_inner form label span select{
    float:left;
    width:250px;
    height:34px;
    font-family: 'LatoRegular';
    font-size:14px;
    padding:5px;
    border:1px solid #1da149;
    line-height:34px;

}

.changepass_inner input:hover, #user_edit_inner form label span input:hover, #advt_edit_inner form label span input:input {
    border: 1px solid #1e803f;
}
.changepass_inner input:focus, #user_edit_inner form label span input:focus, #advt_edit_inner form label span input:focus {
    border: 1px solid #1e803f;
    box-shadow: 0 0 5px #32d769;
}


#user_edit_inner form label span textarea, #advt_edit_inner form label span textarea{
    float:left;
    width:250px;
    height:100px;
    resize:none;
    font-family: 'LatoRegular';
    font-size:14px;
    padding:5px;
    overflow:auto;
    border:1px solid #1da149;
    line-height:34px;

}


#user_edit_inner form label span textarea:hover, #advt_edit_inner form label span textarea:hover {
    border: 1px solid #1e803f;
}
#user_edit_inner form label span textarea:focus, #advt_edit_inner form label span textarea:focus {
    border: 1px solid #1e803f;
    box-shadow: 0 0 5px #32d769;
}
#user_edit_inner form label span.s_data, #advt_edit_inner form label span.s_data{
    width:150px !important;
}
#user_edit_inner form label span.s_val, #advt_edit_inner form label span.s_val {
    width:500px !important;
}
.changepass_inner label label.error{
    color: red;
    float: right;font-family: 'LatoRegular';
    font-size: 13px;
    margin: -5px 0 0;
    position: relative;
    width: 50%;
}

#user_edit_inner form label span label.error, #advt_edit_inner form label span label.error {
    color: red;
    float: left;font-family: 'LatoRegular';
    font-size: 13px;
    margin: -5px 0 0 50px;
    position: relative;
    width: 50%;
}
.changepwd{
    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family: 'LatoRegular';
    font-size:14px;
    color:#fff;
    width:130px !important;
    height:34px !important;
    border:none;
    cursor:pointer;

}

.changepwd:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family: 'LatoRegular';
    font-size:14px;
    color:#272121;
    width:130px !important;
    height:34px !important;
    border:none;

}

#user_edit_inner form label span.s_data input, #advt_edit_inner form label span.s_data input{
    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family: 'LatoRegular';
    font-size:14px;
    color:#fff;
    width:130px !important;
    height:34px !important;
    border:none;
    cursor:pointer;

}

#user_edit_inner form label span.s_data input:hover, #advt_edit_inner form label span.s_data input:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family: 'LatoRegular';
    font-size:14px;
    color:#272121;
    width:130px !important;
    height:34px !important;
    border:none;

}




.changepass_inner input[type=submit]{
    width:100px;
    height:30px;

}
.pass_error, .pass_changed{
    display:none;
    color: red;
    float: left !important;
    margin: 0 0 10px 260px;
    width: 100% !important;
}



/*********************************************
STYLES FOR STATIC PAGES IN ADMIN
*********************************************/


.static_page_outer form#frmedit fieldset{
    float:left;
    clear:both;
    width:98%;
    color: #404040;
    font-size: 14px;
    font-weight: bold;
    padding:10px 0 0 1px;
    margin:20px 0;
    border:1px solid #1da149;
}
.static_page_outer form#frmedit fieldset iframe{}

.static_page_outer form#frmedit fieldset legend{
    color: #000000;
    float: left;font-family: 'LatoRegular';
    font-size: 16px;
    font-weight: normal;
    margin: -21px 0 0;
    position: relative;
}

.static_page_outer{
    float:left;
    width:100%;
}

.static_page_outer form#frmedit {
    float: left;
    padding: 20px;
    width: 95%;
}

.static_page_outer form#frmedit label{
    clear: both;
    float: left;
    margin: 0 0 10px;
    width: 100%;
}
.static_page_outer form#frmedit label span{
    color: #404040;
    font-family: 'LatoRegular';
    font-size: 15px;
    float:left;
    padding: 0px ;
    width: 150px;
}

.static_page_outer form#frmedit label input{
    float:left;
    width:400px;
    height:34px;
    font-family: 'LatoRegular';
    font-size:14px;
    padding:0 5px;
    border:1px solid #1da149;
    line-height:34px;

}


.static_page_outer form#frmedit label input:input {
    border: 1px solid #1e803f;
}
.static_page_outer form#frmedit label input:focus {
    border: 1px solid #1e803f;
    box-shadow: 0 0 5px #32d769;
}


.static_page_outer form#frmedit label textarea{
    float:left;
    width:400px;
    height:100px;
    resize:none;
    font-family: 'LatoRegular';
    font-size:14px;
    padding:5px;
    overflow:auto;
    border:1px solid #1da149;
    line-height:34px;

}


.static_page_outer form#frmedit label textarea:hover {
    border: 1px solid #1e803f;
}
.static_page_outer form#frmedit label textarea:focus {
    border: 1px solid #1e803f;
    box-shadow: 0 0 5px #32d769;
}



.static_page_outer form#frmedit input#subsubmit{
    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family: 'LatoRegular';
    font-size:18px;
    color:#fff;
    width:130px !important;
    height:34px !important;
    border:none;
    cursor:pointer;

}

.static_page_outer form#frmedit input#subsubmit:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#26b555), to(#1e803f)) !important;
    background: -moz-linear-gradient(top,  #26b555,  #1e803f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26b555, endColorstr=#1e803f)" !important;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family: 'LatoRegular';
    font-size:18px;
    color:#272121;
    width:130px !important;
    height:34px !important;
    border:none;

}

#user_edit_inner.usr_dtl label,
#advt_edit_inner.advt_dtl label{
    clear: both;
    color: #000000;
    float: left;
    margin: 0 0 0 130px;
    padding: 5px 0 5px 10px;
    width:70%;
    height:33px;
}


#user_edit_inner.usr_dtl label span.s_data,
#advt_edit_inner.advt_dtl label span.s_data{
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #F1F1F1;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 2px 0 0;
    padding: 5px;
    width: 200px;
}
#user_edit_inner.usr_dtl label span.s_val,
#advt_edit_inner.advt_dtl label span.s_val {
    background: none repeat scroll 0 0 #fdfdfd;
    float: left;
    border: 1px solid #f2f2f2;
    height: 30px;
    padding: 5px;
    line-height: 30px;
    width: 300px;
}

#user_edit_inner.usr_dtl label span p,
#advt_edit_inner.advt_dtl label span p {
    border: 0 solid #1DA149;
    float: left;font-family: 'LatoRegular';
    font-size: 14px;
    line-height: 25px;
    padding: 0 5px;
}

/***active -inactive user**/

.editdiv input[type=checkbox]:hover{
    background-color:green;
}

/************* campaign view ****************/

.campaign_inner{

    margin: 16px 0 0 55px;
    width:700px;
}

.campaign_inner label{
    color: #000000;
    float: left;
    font-size: 16px;
    margin: 0 0 -3px;
    padding: 6px;
    width: 750px;
}

.campaign_inner label span.spn_span{
    float:left;
    margin-left: 5px;
    font-size:16px;
    height:25px;
    width:200px;
    padding: 6px 5px 5px;
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #F1F1F1;

}
.campaign_inner label p {
    float:right;
    font-size:16px;
    padding: 1px 0 3px 10px;

    width: 520px;
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #F1F1F1;
    height: 32px;
    margin: 0 0 0;


}

.show_msg{
    float: left;
    height: 25px;
    margin: 0 0 0 11px;
    width: 76%;
}

.acp_home{
    float: left;
    padding: 0px;
    width: 100%;
}

.acp_home1{
    clear:both;
    float: left;
    height:auto;
    padding:10px 0 0 40px;
    width: 40%;
}
.acp_home2{
    float: left;
    padding:10px 0 0 55px;
    height:auto;
    width: 40%;
}
.acp_home3{
    float: left;
    clear:both;
    padding:10px 0 0 40px;
    height:auto;
    width: 40%;
}
.acp_home4{
    float: left;
    height:auto;
    margin:10px 0 0 55px;
    width: 40%;
}

.acp_home label.home_label  {
    padding: 0 0 0 15px;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background: -moz-linear-gradient(center top , #26B555, #1E803F) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(center top , #26B555, #1E803F) repeat scroll 0 0 transparent !important;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 #FFFFFF inset;
    float: left;
    height: 40px;
    margin: 10px 0 0px;
    width:95%;
}

.acp_home label.home_label span {
    float: left;
    font-size: 16px;
    margin: 12px 0 0;
}
.acp_home label {
    color: #393939;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    float: left;
    margin: 5px 0 20px;
    width: 100%;

}
.acp_home label span {
    padding: 0 5px 0 0;
}

.acp_home p  {
    color: #393939;
    float: left;
    clear:both;font-family: 'LatoRegular';
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding:0;
    width:99%;
    border:1px solid #f2f2f2;
}
.acp_home p label {
    color: #393939;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    float: left;
    margin: 8px 5px;
    width: 93%;
    padding:7px 5px;
    border:1px solid #f2f2f2;

}
.non_class textarea{
    background: #fff;
border: 1px solid #1ea149;
width: 250px;
height: 50px;
padding: 5px;
float: left;font-family: 'LatoRegular';
font-size: 14px;
float: left;
resize: none;
overflow: auto;
}
.non_class input[type='file']{

padding: 8px;
float: left;
}
span.non_error{
    float: left;font-family: 'LatoRegular';
    font-size: 12px;
    font-weight: normal;
    width: 250px;
    color:red;
}

.question label.error{
   color: red !important;
    font-family: Tahoma,Geneva,sans-serif !important;
    font-size: 13px !important;
    height: 10px !important;
    position: relative;
    top: 0;
}

.payments_inner{
    float: left;
    margin: 0 0 0;
    width: 100%;
}

.user_payment{
float: left;
    margin: 10px 0 20px 50px;
    width: 90%;

}
.user_payment ul{
clear: both;
    display: inline-block;
    float: left;
    list-style: none outside none;
}
.user_payment ul li{

}
.info{

}
.ads_info{
    
}
.payments_inner label{
    clear: none;
    color: #000000;
    float: left;
    font-family: 'LatoRegular';
    font-size: 12px;
    height: auto;
    margin: 0 0 0 0;
    padding: 5px 0 5px 10px;
    width: auto;
}

.payments_inner span{
  margin: 5px;
}



/*****************6-8-2013***********************/

.box-content #email_id > input
{
	margin: 0 0 5px;
}







